

@model Helpers.Dto.PartialViewDtos.CourtSettingsViewDto;

<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kort Ayarları</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Kort Türleri</h3>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addCourt"><i class="fas fa-plus-square"></i></button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">

                                        <th>Kort Türü</th>
                                        <th>İşlemler</th>



                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.courtRecipeTypes)
                                    {
                                        <tr style="text-align:center" id="">
                                            <td>@item.CourtRecipeTypes</td>



                                            <td>
                                                <button class="btn btn-outline-success" id="@item.CourtRecipeTypeId" onclick="openUpdateCourtModal(this.id)"><i class="fas fa-edit"></i></button>
                                                <button class="btn btn-outline-danger" id="@item.CourtRecipeTypeId" onclick="deleteCourt(this.id) "><i class="fas fa-trash"></i></button>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Kort İşlemleri</h3>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addCourt"><i class="fas fa-plus-square"></i></button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">
                                        <th>Adı </th>
                                        <th>Türü</th>
                                        <th>Web Durumu</th>
                                        <th>Durumu</th>
                                        <th>Başlangıç Tarihi</th>
                                        <th>Bitiş Tarihi</th>
                                        <th>Period</th>
                                        <th>İşlemler</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Courts)
                                    {
                                        <tr style="text-align:center" id="">
                                            <td>@item.CourtName</td>
                                            <td>@item.CourtType</td>

                                            @if (item.CourtWebConditions == 1)
                                            {
                                                <td>Web Aktif  </td>
                                            }
                                            else
                                            {
                                                <td>Web Pasif  </td>
                                            }

                                            @if (item.CourtConditions == 1)
                                            {
                                                <td>Aktif  </td>
                                            }
                                            else
                                            {
                                                <td>Pasif </td>
                                            }

                                            <td>@item.CourtStartTime </td>
                                            <td>@item.CourtFinishTime </td>
                                            <td>@item.CourtTimePeriod </td>

                                            <td>
                                                <button class="btn btn-outline-success" id="@item.CourtId" onclick="openUpdateCourtModal(this.id)"><i class="fas fa-edit"></i></button>
                                                <button class="btn btn-outline-danger" id="@item.CourtId" onclick="deleteCourt(this.id) "><i class="fas fa-trash"></i></button>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                 

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Kort Ücret Tarifesi</h3>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addCourtPrice"><i class="fas fa-plus-square"></i></button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="example3" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">
                                        <th>Adı </th>
                                        <th>Fiyatı</th>
                                        <th>Ücret Tipi</th>
                                        <th>Tarife Tipi</th>
                                        <th>Durumu</th>
                                        <th>İşlemler</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item2 in Model.courtPriceLists)
                                    {

                                        <tr style="text-align:center">
                                            <td>@item2.Name</td>
                                            <td>@item2.CourtPrice</td>

                                            @{ if (@item2.PriceType == "1")
                                                {
                                                    <td>Asıl Ücret</td>
                                                }
                                                else
                                                {
                                                    <td>Ek Ücret</td>
                                                }
                                            }
                                            <td>@item2.RecipeType</td>

                                            @{ if (@item2.Condition == "1")
                                                {
                                                    <td>Aktif</td>
                                                }
                                                else
                                                {
                                                    <td>Pasif</td>
                                                }
                                            }

                                            <td>
                                                <button class="btn btn-outline-success" id="@item2.CourtPriceListId" onclick="openUpdateCourtPriceModal(this.id)"><i class="fas fa-edit"></i></button>
                                                <button class="btn btn-outline-danger" id="@item2.CourtPriceListId" onclick="deleteCourtPrice(this.id)"><i class="fas fa-trash"></i></button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal fade" id="addCourt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kort Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Kort Adı:</label>
                        <input type="text" class="form-control" id="courtName">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Kort Durumu:</label>
                        <div class="input-group">
                            <select id="courtType" class="form-control">
                                <option disabled="disabled" selected="selected">Kort Türü</option>

                                @foreach (var item in Model.courtRecipeTypes)
                                {
                                    <option> @item.CourtRecipeTypes</option>
                                }


                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Kort Durumu:</label>
                        <div class="input-group">
                            <select id="AddcourtCondition" class="form-control">
                                <option disabled="disabled" selected="selected">Durumu</option>

                                <option value="1"> Aktif</option>
                                <option value="0"> Pasif</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Kort Web Durumu:</label>
                        <div class="input-group">
                            <select id="AddcourtWebCondition" class="form-control">
                                <option disabled="disabled" selected="selected">Durumu</option>

                                <option value="1"> Web Aktif</option>
                                <option value="0"> Web Pasif</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="recipient-name" class="col-form-label">Başlangıç Saati:</label>
                        <div class="input-group">
                            <select id="courtStartTime" class="form-control">
                                <option disabled="disabled" selected="selected">Başlangıç Saati</option>

                                @foreach (var item in Model.resTimes)
                                {
                                    <option>@item.ResTimes</option>
                                }


                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="recipient-name" class="col-form-label">Bitiş Saati:</label>
                        <div class="input-group">
                            <select id="courtFinishTime" class="form-control">
                                <option disabled="disabled" selected="selected">Bitiş Saati</option>

                                @foreach (var item in Model.resTimes)
                                {
                                    <option>@item.ResTimes</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="recipient-name" class="col-form-label">Period:</label>
                        <div class="input-group">
                            <select id="courtTimePeriod" class="form-control">
                                <option disabled="disabled" selected="selected">Durumu</option>

                                <option>15</option>
                                <option>30</option>
                                <option>60</option>

                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="saveAddCourt()">Ekle</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateCourtModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row ">
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Adı</label>
                        <input type="text" id="name" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">

                        <label for="recipient-name" class="col-form-label">Kort Durumu:</label>
                        <div class="input-group">
                            <select id="type" class="form-control">
                                <option disabled="disabled" selected="selected">Kort Türü</option>

                                @foreach (var item in Model.courtRecipeTypes)
                                {
                                    <option> @item.CourtRecipeTypes</option>
                                }


                            </select>
                        </div>
                    </div>



                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Durumu</label>

                        <select id="courtCondition" class="form-control">
                            <option disabled="disabled" selected="selected">Durumu</option>

                            <option value="1"> Aktif</option>
                            <option value="0"> Pasif</option>

                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Web Durumu</label>
                        <select id="courtWebCondition" class="form-control">
                            <option disabled="disabled" selected="selected"> Durumu</option>

                            <option value="1">Web Aktif</option>
                            <option value="0">Web Pasif</option>
                        </select>
                    </div>




                    <div class="form-group col-md-4">
                        <label for="recipient-name" class="col-form-label">Başlangıç Saati:</label>
                        <div class="input-group">
                            <select id="courtTimeStart" class="form-control">
                                

                                @foreach (var item in Model.resTimes)
                                {
                                    <option>@item.ResTimes</option>
                                }


                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="recipient-name" class="col-form-label">Bitiş Saati:</label>
                        <div class="input-group">
                            <select id="courtTimeFinish" class="form-control">
                                

                                @foreach (var item in Model.resTimes)
                                {
                                    <option>@item.ResTimes</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="recipient-name" class="col-form-label">Period:</label>
                        <div class="input-group">
                            <select id="courtPeriodTime" class="form-control">
                               

                                <option>15</option>
                                <option>30</option>
                                <option>60</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="updateModel">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="updateCourt(this.id)">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updatePriceModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Kort Adı:</label>
                        <input type="text" id="courtPriceName" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Fiyatı</label>
                        <input type="text" id="price" class="form-control">
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Ücret Tipi</label>
                        <select id="priceType" class="form-control">
                            <option disabled="disabled" selected="selected">Ücret Tipi</option>

                            <option value="1"> Asıl Ücret</option>
                            <option value="0"> Ek Ücret</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Tarife Tipi</label>
                        <input type="text" id="recipeType" class="form-control">
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Durumu</label>
                        <select id="conditions" class="form-control">
                            <option disabled="disabled" selected="selected">Durumu</option>

                            <option value="1"> Aktif</option>
                            <option value="0"> Pasif</option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="modal-footer" id="updateCourtPriceModel">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="updateCourtPriceList(this.id)">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCourtPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kort Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Tarife Adı:</label>
                        <input type="text" class="form-control" id="recipeName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Tarife Fiyatı:</label>
                        <input type="text" class="form-control" id="recipePrice">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Ücret Tipi:</label>
                        <input type="text" class="form-control" id="recipePriceType">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Tarife Tipi:</label>
                        <input type="text" class="form-control" id="courtRecipeType">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="col-form-label">Durumu:</label>
                        <input type="text" class="form-control" id="recipeCondition">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="saveAddCourtPrice()">Ekle</button>
            </div>
        </div>
    </div>
</div>




<script>

    $(document).ready(function () {

        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $('#example2 , #example3 , #example4').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });


    });


    function saveAddCourt() {

        if ($("#courtName").val() == "" || $("#courtType option:selected").val() == "" || $("#AddcourtCondition option:selected").val() == "" || $("#AddcourtWebCondition option:selected").val() == "") {
            $.confirm({
                title: "Bilgilendirme",
                content: "Lütfen Kort Bilgilerini Eksizsiz Doldurunuz.",
                buttons: {
                    TAMAM: function () {

                    }
                }
            });
        } else {

            $("#addCourt").modal("toggle");

            var AddcourtCondition = $("#AddcourtCondition option:selected").val();
            var AddcourtWebCondition = $("#AddcourtWebCondition option:selected").val();
            var courtStartTime = $("#courtStartTime option:selected").val();
            var courtFinishTime = $("#courtFinishTime option:selected").val();
            var courtTimePeriod = $("#courtTimePeriod option:selected").val();

            $.ajax({
                type: "POST",
                url: '../SystemSettings/AddNewCourt',
                cache: false,
                data: { "courtName": $("#courtName").val(), "courtType": $("#courtType option:selected").val(), AddcourtCondition, AddcourtWebCondition, courtStartTime, courtFinishTime, courtTimePeriod },
                dataType: "json",
                async: true,
                success: function (res) {


                    if (res == true) {

                        swal({
                            title: "Kort Ekleme Başarılı",
                            text: "Kort Ekleme Başarılı Bir Şekilde Gerçekleşti !",
                            icon: "success",
                            button: "Tamam",
                        }).then((value) => {

                            window.location.href = "CourtSettings"
                        });



                    }
                    else {

                        $.confirm({
                            title: "Uyarı",
                            content: "Kayıt sırasında bir hata oluştu. Lütfen Kontrol edip daha sonra tekrar deneyiniz.",
                            buttons: {
                                TAMAM: function () {

                                }
                            }
                        });
                    }

                },
                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        }

    }

    function openUpdateCourtModal(ID) {
        $.ajax({
            type: "GET",
            url: '../SystemSettings/GetCourtInf',
            cache: false,
            data: { "id": ID },
            dataType: "json",
            async: true,
            success: function (res) {



                if (res != null) {

                    $("#name").val(res.courtName);
                    $("#type option:selected").text(res.courtType);
                    $("#courtCondition option:selected").text(res.courtConditions);
                    $("#courtWebCondition option:selected").text(res.courtWebConditions);

                    $("#courtTimeStart option:selected").text(res.courtStartTime);
                    $("#courtTimeFinish option:selected").text(res.courtFinishTime);
                    $("#courtPeriodTime option:selected").text(res.courtTimePeriod);

                    $("#updateModel button:nth-of-type(2)").attr("id", ID);
                    $('#updateCourtModalLong').modal('toggle');
                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kort Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function updateCourt(id) {

        var courtCondition = $("#courtCondition option:selected").val();
        var courtWebCondition = $("#courtWebCondition option:selected").val();
        var courtTimeStart = $("#courtTimeStart option:selected").val();
        var courtTimeFinish = $("#courtTimeFinish option:selected").val();
        var courtPeriodTime = $("#courtPeriodTime option:selected").val();

        $.ajax({
            type: "POST",
            url: '../SystemSettings/UpdateCourt',
            cache: false,
            data: { "id": id, "courtName": $("#name").val(), "courtType": $("#type option:selected").text(), courtCondition, courtWebCondition, courtTimeStart, courtTimeFinish, courtPeriodTime},
            dataType: "json",
            async: true,
            success: function (res) {

                if (res != null) {

                    swal({
                        title: "Kort Güncellendi",
                        text: "Kort Güncelleme Başarılı Bir Şekilde Gerçekleşti !",
                        icon: "success",
                        button: "Tamam",
                    }).then((value) => {

                        window.location.href = "CourtSettings"
                    });

                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kort Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function deleteCourt(id) {

        swal({
            title: "Emin Misiniz?",
            text: "Tarife Bilgisi Silinecek !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: '../SystemSettings/DeleteCourt',
                        cache: false,
                        data: { "id": id },
                        dataType: "json",
                        async: true,
                        success: function (res) {

                            if (res != null) {

                                swal({
                                    title: "Kort Silindi",
                                    text: "Kort  Başarılı Bir Şekilde Silindi !",
                                    icon: "success",
                                    button: "Tamam",
                                }).then((value) => {

                                    window.location.href = "CourtSettings";

                                });
                            }
                            else {
                                alert("Hata");
                            }
                        },
                        error: function (textStatus, errorThrown) {
                            console.log(JSON.stringify(textStatus));
                            console.log(textStatus);
                        }
                    });
                }
                else
                    swal({
                        title: "Kort Korundu",
                        text: "Kortu Silmekten Vazgeçtiniz!",
                        icon: "success",
                        button: "Tamam",
                    });
            });
    }



    function openUpdateCourtPriceModal(ID) {
        $.ajax({
            type: "GET",
            url: '../SystemSettings/GetCourtPriceInf',
            cache: false,
            data: { "id": ID },
            dataType: "json",
            async: true,
            success: function (res) {



                if (res != null) {

                    $("#courtPriceName").val(res.name);
                    $("#price").val(res.courtPrice);
                    $("#priceType option:selected").text(res.priceType);
                    $("#recipeType").val(res.recipeType);
                    $("#conditions option:selected").text(res.condition);
                    $("#updateCourtPriceModel button:nth-of-type(2)").attr("id", ID);
                    $('#updatePriceModalLong').modal('toggle');
                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kort Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function updateCourtPriceList(id) {

        var priceType = $("#priceType option:selected").val();
        var condition = $("#conditions option:selected").val();

        $.ajax({
            type: "POST",
            url: '../SystemSettings/UpdateCourtPriceList',
            cache: false,
            data: { "id": id, "name": $("#courtPriceName").val(), "courtPrice": $("#price").val(), priceType, "recipeType": $("#recipeType").val(), condition },
            dataType: "json",
            async: true,
            success: function (res) {



                if (res != null) {

                    swal({
                        title: "Tarife Güncellendi",
                        text: "Tarife Güncellemesi Başarılı Bir Şekilde Gerçekleşti !",
                        icon: "success",
                        button: "Tamam",
                    }).then((value) => {

                        window.location.href = "CourtSettings"

                    });

                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Tarife Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function deleteCourtPrice(id) {

        swal({
            title: "Emin Misiniz?",
            text: "Tarife Bilgisi Silinecek !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: '../SystemSettings/DeleteCourtPrice',
                        cache: false,
                        data: { "id": id },
                        dataType: "json",
                        async: true,
                        success: function (res) {

                            if (res != null) {

                                swal({
                                    title: "Tarife Silindi",
                                    text: "Tarife  Başarılı Bir Şekilde Silindi !",
                                    icon: "success",
                                    button: "Tamam",
                                }).then((value) => {

                                    window.location.href = "CourtSettings";

                                });

                            }

                            else {
                                $.confirm({
                                    title: "Uyarı",
                                    content: "Kullanıcı Bulunamadı.",
                                    buttons: {
                                        TAMAM: function () {

                                        }
                                    }
                                });
                            }

                        },
                        error: function (textStatus, errorThrown) {
                            console.log(JSON.stringify(textStatus));
                            console.log(textStatus);
                        }
                    });
                }
                else
                    swal({
                        title: "Tarife Korundu",
                        text: "Tarifeyi Silmekten Vazgeçtiniz!",
                        icon: "success",
                        button: "Tamam",
                    });
            });



    }

    function saveAddCourtPrice() {

        $.ajax({
            type: "POST",
            url: '../SystemSettings/AddNewCourtPriceList',
            cache: false,
            data: { "recipeName": $("#recipeName").val(), "recipePrice": $("#recipePrice").val(), "recipePriceType": $("#recipePriceType").val(), "courtRecipeType": $("#courtRecipeType").val(), "recipeCondition": $("#recipeCondition").val() },
            dataType: "json",
            async: true,
            success: function (res) {



                if (res == true) {

                    swal({
                        title: "Tarife Ekleme Başarılı",
                        text: "Tarige Ekleme Başarılı Bir Şekilde Gerçekleşti !",
                        icon: "success",
                        button: "Tamam",
                    }).then((value) => {

                        window.location.href = "CourtSettings"
                    });

                }
                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kayıt sırasında bir hata oluştu. Lütfen Kontrol edip daha sonra tekrar deneyiniz.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }



</script>

