@model List<Helpers.Dto.ViewDtos.MemberDuesTypeDto>;

    <style>

        button {
            border: none !important;
        }
    </style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Üye Aidat Ayarları</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Üye Aidat İndirim Ayarları</h3>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#openAddCabinetType"><i class="fas fa-plus-square"></i></button>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">

                                        <th>Yaşa Göre</th>
                                        <th>Kaç Yıllık Üye</th>
                                        <th>İndirim (%)</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr style="text-align:center" id="">
                                            <td>@item.Age (Yaş)</td>
                                            <td>@item.Year (Yıl)</td>
                                            <td>@item.Discount (%)</td>

                                            <td>
                                                <button class="btn btn-outline-success" id="@item.MemberDuesTypeId" onclick="openUpdateCourtModal(this.id)"><i class="fas fa-edit"></i></button>
                                                <button class="btn btn-outline-danger" id="@item.MemberDuesTypeId" onclick="deleteCabinetType(this.id)"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>