
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model AtkTennis.ViewModels.CourtSettingsViewModel
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->




<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kort Ayarları</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Kort İşlemleri</h3>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addCourt">Kort Ekle</button>
                            </div>
                        </div>
                      
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">
                                        <th>Adı </th>
                                        <th>Türü</th>
                                        <th>Durumu</th>
                                        <th>Web Durumu</th>
                                        <th>İşlemler</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Courts)
                                    {
                                        <tr style="text-align:center" id="court_@item.CourtId">
                                            <td>@item.CourtName</td>
                                            <td>@item.CourtType</td>
                                            <td>@item.CourtConditions</td>
                                            <td>@item.CourtWebConditions</td>

                                            <td>
                                                <button class="btn btn-outline-success" id="@item.CourtId" onclick="openUpdateCourtModel(this.id)">Güncelle</button>
                                                <button class="btn btn-outline-danger" id="@item.CourtId" onclick="openDeleteCourtModel(this.id) ">Sil</button>
                                            </td>
                                            

                                        </tr>
                                    }
                                </tbody>                       
                            </table>
                        </div>
                       
                    </div>
                  

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Kort İşlemleri</h3>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addCourtOperations">İşlem Ekle</button>
                            </div>
                        </div>
                
                        <div class="card-body">
                            <table id="example3" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">
                                        <th>Adı </th>
                                        <th>Fiyatı</th>
                                        <th>Ücret Tipi</th>
                                        <th>Tarife Tipi</th>
                                        <th>Durumu</th>
                                        <th>İşlemler</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.courtPriceLists)
                                    {
                                        <tr style="text-align:center">
                                            <td>@item.Name</td>
                                            <td>@item.CourtPrice</td>
                                            <td>@item.PriceType</td>
                                            <td>@item.RecipeType</td>
                                            <td>@item.Condition</td>
                                            <td>
                                                <button class="btn btn-outline-success" id="@item.CourtPriceListId " onclick="OpenUpdateCourtOperation(this.id)">Güncelle</button>
                                                <button class="btn btn-outline-danger" id="@item.CourtPriceListId" onclick="DeleteCourtOperation(this.id)">Sil</button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                   
                    </div>
              
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>
                     
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Trident</td>
                                        <td>
                                            Internet
                                            Explorer 4.0
                                        </td>
                                        <td>Win 95+</td>
                                        <td> 4</td>
                                        <td>X</td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>
                                            Internet
                                            Explorer 5.0
                                        </td>
                                        <td>Win 95+</td>
                                        <td>5</td>
                                        <td>C</td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>
                                            Internet
                                            Explorer 5.5
                                        </td>
                                        <td>Win 95+</td>
                                        <td>5.5</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>
                                            Internet
                                            Explorer 6
                                        </td>
                                        <td>Win 98+</td>
                                        <td>6</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet Explorer 7</td>
                                        <td>Win XP SP2+</td>
                                        <td>7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>AOL browser (AOL desktop)</td>
                                        <td>Win XP</td>
                                        <td>6</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                    </tr>
                                </tbody>
                         
                            </table>
                        </div>
           
                    </div>
                
                </div>
      
            </div>
         
        </div>
 
    </section>

</div>





<div class="modal fade" id="openUpdateCourtOperation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="roww roww-space">

                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Adı</label>
                            <input type="text" id="Name" class="input--style-4">
                        </div>
                    </div>
                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Fiyatı</label>
                            <input type="text" id="Price" class="input--style-4">
                        </div>
                    </div>
                </div>

                <div class="roww roww-space">
                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Ücret Tipi</label>
                            <input type="text" id="PriceType" class="input--style-4">
                        </div>
                    </div>
                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Tarife Tipi</label>
                            <input type="text" id="RecipeType" class="input--style-4">
                        </div>
                    </div>
                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Durumu</label>
                            <input type="text" id="Conditions" class="input--style-4">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" id="updateCourtOperationsModel">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateCourtOperations(this.id)">Save changes</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="updateCourtModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
           
                    <div class="roww roww-space">

                        <div class="coll-2">
                            <div class="input--group">
                                <label class="label">Adı</label>
                                <input type="text" id="name" class="input--style-4">
                            </div>
                        </div>
                        <div class="coll-2">
                            <div class="input--group">
                                <label class="label">Türü</label>
                                <input type="text" id="type" class="input--style-4">
                            </div>
                        </div>
                    </div>

                    <div class="roww roww-space">
                        <div class="coll-2">
                            <div class="input--group">
                                <label class="label">Durumu</label>
                                <input type="text" id="condition" class="input--style-4">
                            </div>
                        </div>
                        <div class="coll-2">
                            <div class="input--group">
                                <label class="label">Web Durumu</label>
                                <input type="text" id="webcondition" class="input--style-4">
                            </div>
                        </div>
                    </div>
         
            </div>



            <div class="modal-footer" id="updateModel">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateCourtInf(this.id)">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteCourtModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Kullanıcıyı Silmek İstediğinizden Emin Misiniz ?
            </div>
            <div class="modal-footer" id="deleteModel">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" onclick="deleteCourtModal(this.id)" >Sil</button>
            </div>
        </div>
    </div>
</div>


<!--Kort Ekle Modal-->
<div class="modal fade" id="addCourt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kort Bilgileri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="roww roww-space">

                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Kort Adı</label>
                            <input type="text" id="court_name" class="input--style-4">
                        </div>
                    </div>
                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Kort Türü</label>
                            <input type="text" id="court_type" class="input--style-4">
                        </div>
                    </div>
                </div>

                <div class="roww roww-space">
                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Kort Durumu</label>
                            <input type="text" id="court_condition" class="input--style-4">
                        </div>
                    </div>
                    <div class="coll-2">
                        <div class="input--group">
                            <label class="label">Web Durumu</label>
                            <input type="text" id="court_webcondition" class="input--style-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addCourt()">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="deleteOperationCourtModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Kort İşlemini Silmek İstediğinizden Emin Misiniz ?
            </div>
            <div class="modal-footer" id="deleteOperationModel">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" onclick="deleteCourtOperations(this.id)">Sil</button>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $('#example2 , #example3 , #example4').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });


    });

    function openDeleteCourtModel(ID) {

        $("#deleteModel button:nth-of-type(2)").attr("id", ID);
        $("#deleteCourtModal").modal("toggle");

    }

    function deleteCourtModal(ID) {
        $.ajax({
            type: "GET",
            url: '../Admin/CourtDelete',
            cache: false,
            data: { "id": ID },
            dataType: "json",
            async: true,
            success: function (res) {
                if (res == "true") {
                    $.confirm({
                        title: "Bilgilendirme ",
                        content: "Kullanıcı Başarılı Şekilde Silindi.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });

                    $("#court_" + ID).empty();

                }
                else {
                    $("#deleteCourtModal").modal("toggle");
                    $.confirm({
                        title: "Uyarı",
                        content: "Kortta kayıtlı rezervasyonlar mevcut. Yine de silmek istiyor musunuz?",
                        buttons: {
                            SİL: function () {
                                forceDelete(ID);
                            },
                            İPTAL: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function forceDelete(ID) {
        $.ajax({
            type: "GET",
            url: '../Admin/CourtForceDelete',
            cache: false,
            data: { "id": ID },
            dataType: "json",
            async: true,
            success: function (res) {

                debugger;

                if (res == "true") {
                    $.confirm({
                        title: "Bilgilendirme ",
                        content: "Kullanıcı Başarılı Şekilde Silindi.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });

                    $("#court_" + ID).empty();

                }
                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "İşlem sırasında hata oluştu. Lütfen daha sonra tekrar deneyiniz.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }
            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function openUpdateCourtModel(ID) {
        $.ajax({
            type: "GET",
            url: '../Admin/GetCourtInf',
            cache: false,
            data: { "id": ID },
            dataType: "json",
            async: true,
            success: function (res) {



                if (res != null) {

                    $("#name").val(res.courtName);
                    $("#type").val(res.courtType);
                    $("#condition").val(res.courtConditions);
                    $("#webcondition").val(res.courtWebConditions);
                    $("#updateModel button:nth-of-type(2)").attr("id", ID);
                    $('#updateCourtModalLong').modal('toggle');
                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kullanıcı Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function updateCourtInf(id) {

        $.ajax({
            type: "POST",
            url: '../Admin/UpdateCourtInf',
            cache: false,
            data: { "id": id, "courtName": $("#name").val(), "courtType": $("#type").val(), "courtConditions": $("#condition").val(), "courtWebConditions": $("#webcondition").val() },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res !=null) {

                    $.confirm({
                        title: "Bilgilendirme",
                        content: "Kullanıcı başarıyla güncellendi.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });

                    window.location.href="CourtSettings"
                  
                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kullanıcı Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function addCourt() {
        if ($("#court_name").val() == "" || $("#court_type").val() == "" || $("#court_condition").val() == "" || $("#court_webcondition").val() == "") {
            $.confirm({
                title: "Bilgilendirme",
                content: "Lütfen Kort Bilgilerini Eksizsiz Doldurunuz.",
                buttons: {
                    TAMAM: function () {

                    }
                }
            });
        } else {
            $("#addCourt").modal("toggle");
            $.ajax({
                type: "POST",
                url: '../Admin/addCourt',
                cache: false,
                data: { "courtName": $("#court_name").val(), "courtType": $("#court_type").val(), "courtConditions": $("#court_condition").val(), "courtWebConditions": $("#court_webcondition").val() },
                dataType: "json",
                async: true,
                success: function (res) {

                    if (res == "true") {

                        $.confirm({
                            title: "Bilgilendirme",
                            content: "Kort başarıyla eklendi.",
                            buttons: {
                                TAMAM: function () {

                                }
                            }
                        });

                        window.location.href = "CourtSettings"

                    }
                    else {
                        $.confirm({
                            title: "Uyarı",
                            content: "Kayıt sırasında bir hata oluştu.Lütfen daha sonra tekrar deneyiniz.",
                            buttons: {
                                TAMAM: function () {

                                }
                            }
                        });
                    }

                },
                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        }

    }

    function OpenUpdateCourtOperation(ID) {
        $.ajax({
            type: "GET",
            url: '../Admin/GetCourtOperations',
            cache: false,
            data: { "id": ID },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res != null) {

                    debugger;

                    $("#Name").val(res.name);
                    $("#Price").val(res.courtPrice);
                    $("#PriceType").val(res.priceType);
                    $("#RecipeType").val(res.recipeType);
                    $("#Conditions").val(res.condition);
                    $("#updateCourtOperationsModel button:nth-of-type(2)").attr("id", ID);
                    $('#openUpdateCourtOperation').modal('toggle');
                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kullanıcı Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function updateCourtOperations(id) {

        $.ajax({
            type: "POST",
            url: '../Admin/PostCourtOperations',
            cache: false,
            data: { "id": id, "name": $("#Name").val(), "courtPrice": $("#Price").val(), "priceType": $("#PriceType").val(), "recipeType": $("#RecipeType").val(), "condition": $("#Conditions").val() },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res != null) {

                    $.confirm({
                        title: "Bilgilendirme",
                        content: "Kullanıcı başarıyla güncellendi.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });

                    window.location.href = "CourtSettings"

                }

                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Kullanıcı Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function DeleteCourtOperation(ID) {

        $("#deleteOperationModel button:nth-of-type(2)").attr("id", ID);
        $("#deleteOperationCourtModal").modal("toggle");

    }

    function deleteCourtOperations(ID) {
        $.ajax({
            type: "GET",
            url: '../Admin/CourtOperationsDelete',
            cache: false,
            data: { "id": ID },
            dataType: "json",
            async: true,
            success: function (res) {
                if (res == "true") {

                    $("#deleteOperationCourtModal").modal("toggle");

                    $.confirm({
                        title: "Bilgilendirme ",
                        content: "Kullanıcı Başarılı Şekilde Silindi.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });                
                }

                else {
                    
                    $.confirm({
                        title: "Uyarı",
                        content: "Silme Sırasında Hata Oluştu",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }
</script>

