
@{
    Layout = null;

}
@model AtkTennis.ViewModels.AdminViewModel;

<script>
    document.getElementsByTagName("html")[0].className += " js";
</script>

<link href="~/css/icons.css" rel="stylesheet" />
<link href="~/workSch/style.css" rel="stylesheet" />

<div class="row">
    <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule col-md-6">
        <div class="cd-schedule__timeline">
            <ul>
                @foreach (var rt in Model.Times)
                {
                    <li><span>@rt.ResTimes</span></li>
                }

            </ul>
        </div> <!-- .cd-schedule__timeline -->

        <div class="cd-schedule__events">
            <ul>

                @foreach (var item in Model.Courts)
                {
                    <li class="cd-schedule__group">
                        <div class="cd-schedule__top-info"><span>@item.CourtName</span></div>
                        <ul>
                            @foreach (var item2 in Model.Res)
                            {
                                if (item.CourtId == item2.courts.CourtId)
                                {
                                    <li class="cd-schedule__event">

                                        <a data-start="@item2.ResStartTime" data-end="@item2.ResFinishTime" data-content="event-abs-circuit" data-event="@item2.ResEvent" href="#0">
                                            <em class="cd-schedule__name">Abs </em>
                                        </a>

                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>


        <div class="cd-schedule-modal">
            <header class="cd-schedule-modal__header">
                <div class="cd-schedule-modal__content">
                    <span class="cd-schedule-modal__date"></span>
                    <h3 class="cd-schedule-modal__name"></h3>
                </div>

                <div class="cd-schedule-modal__header-bg"></div>
            </header>

            <div class="cd-schedule-modal__body">
                <div class="cd-schedule-modal__event-info"></div>
                <div class="cd-schedule-modal__body-bg"></div>
            </div>

            <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
        </div>

        <div class="cd-schedule__cover-layer"></div>
    </div>
    <div class="main-container">

        @*<div class="container">
                <div class="icon-container">
                    <div class="bar bar-left"></div>
                    <div class="bar bar-middle"></div>
                    <div class="bar bar-right"></div>
                </div>
                <h2>Analytics	</h2>
            </div>
            <div class="container">
                <div class="icon-container">
                    <div class="envelope">
                        <div class="envelope-left"></div>
                        <div class="envelope-right"></div>
                    </div>
                    <div class="envelope-content"></div>
                    <div class="envelope-top"></div>
                </div>
                <h2>Inbox</h2>
            </div>
            <div class="container">
                <div class="icon-container">
                    <div class="trapezoid trapezoid-yellow"></div>
                    <div class="trapezoid trapezoid-blue"></div>
                    <div class="trapezoid trapezoid-green"></div>
                </div>
                <h2>Drive</h2>
            </div>
            <div class="container">
                <div class="icon-container weather">
                    <div class="sun"></div>
                    <div class="dots">
                        <div class="box"></div>
                    </div>
                </div>
                <h2>Weather</h2>
            </div>
            <div class="container">
                <div class="icon-container">
                    <div class="photo-rectangle orange"></div>
                    <div class="photo-rectangle yellow"></div>
                    <div class="photo-rectangle green"></div>
                    <div class="photo-rectangle lightBlue"></div>
                    <div class="photo-rectangle blue"></div>
                    <div class="photo-rectangle purple"></div>
                    <div class="photo-rectangle violet"></div>
                    <div class="photo-rectangle red"></div>
                </div>
                <h2>Photos</h2>
            </div>
            <div class="container">
                <div class="icon-container">
                    <div class="firstRing">
                        <div class="secondRing">
                            <div class="thirdRing">
                                <div class="fourthRing">
                                    <div class="scan"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Find iPhone</h2>
            </div>*@
        <div class="container col-md-6">
            <div class="icon-container podcast">
                <div class="podcast-outerRing">
                    <div class="podcast-innerRing">
                        <div class="podcast-center"></div>
                        <div class="podcast-rectangle"></div>
                    </div>
                </div>
            </div>
            <h2>Podcast</h2>
        </div>
        <div class="container">
            <div class="icon-container app-store">
                <div class="app-storeRectangle left"></div>
                <div class="app-storeRectangle middle"></div>
                <div class="app-storeRectangle right"></div>
            </div>
            <h2>App Store	</h2>
        </div>
        <div class="container">
            <div class="icon-container">
                <div class="photo-rectangle orange"></div>
                <div class="photo-rectangle yellow"></div>
                <div class="photo-rectangle green"></div>
                <div class="photo-rectangle lightBlue"></div>
                <div class="photo-rectangle blue"></div>
                <div class="photo-rectangle purple"></div>
                <div class="photo-rectangle violet"></div>
                <div class="photo-rectangle red"></div>
            </div>
            <h2>Photos</h2>
        </div>
        <div class="container">
            <div class="icon-container">
                <div class="firstRing">
                    <div class="secondRing">
                        <div class="thirdRing">
                            <div class="fourthRing">
                                <div class="scan"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Find iPhone</h2>
        </div>
        <div class="container">
            <div class="icon-container podcast">
                <div class="podcast-outerRing">
                    <div class="podcast-innerRing">
                        <div class="podcast-center"></div>
                        <div class="podcast-rectangle"></div>
                    </div>
                </div>
            </div>
            <h2>Podcast</h2>
        </div>
        <div class="container">
            <a href="~/Admin/Reservation">
                <div class="icon-container app-store">

                    <div class="app-storeRectangle left"></div>
                    <div class="app-storeRectangle middle"></div>
                    <div class="app-storeRectangle right"></div>

                </div>
            </a>
            <h2>Rezervasyon</h2>
        </div>
    </div>
</div>
<script src="~/workSch/util.js"></script>
<script src="~/workSch/main.js"></script>


