@using System.Security.Claims;

@{
    ViewData["Title"] = "Reservation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    @model AtkTennis.ViewModels.AdminViewModel

}

<link href="~/css/popup.css" rel="stylesheet" />
@*<label style="visibility:hidden" val="@User.FindFirst(ClaimTypes.NameIdentifier).Value;" id="user_id">

    </label>*@



@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<section class="content">
    <div class="content-wrapper">
        <div class="content-header">
            <h1 class="m-0">Reservation</h1>
        </div>
        @{
            <table class="table table-bordered ">
                <tr>
                    <th>

                        @foreach (var item3 in Model.Courts)
                        {
                        <th style="text-align:center;">@item3.CourtName.ToUpper()</th>
                    }
                    </tr>


                    @foreach (var item in Model.Times)
                    {
                        <tr>
                            <th style="font-size:20px; text-align:center" id="h_@item.ResTimeId">@item.ResTimes</th>

                            @foreach (var item2 in Model.Courts)
                            {


                                if (item2.reservations != null)
                                {

                                    if (item2.reservations.Where(x => x.ResStartTime == item.ResTimes && x.userId == userId).Count() > 0)
                                    {


                                        <td>
                                            <button type="button" class="btn btn-warning  ">
                                                Düzenle
                                            </button>
                                        </td>
                                    }


                                    else if (item2.reservations.Where(x => x.ResStartTime == item.ResTimes).Count() > 0)
                                    {


                                        <td>
                                            <button type="button" class="btn btn-danger  ">
                                                Rezerve
                                            </button>
                                        </td>
                                    }

                                    else
                                    {
                                        <td>
                                            <button type="button" class="btn btn-success  courtbutton" data-toggle="modal" id="cb_@item2.CourtId" hour="@item.ResTimes" cname="@item2.CourtName" userid="@userId" data-target="#exampleModalLong">
                                                @item2.CourtName
                                            </button>
                                        </td>
                                    }

                                }

                                else

                                {
                                    <td>
                                        <button type="button" class="btn btn-success  courtbutton" data-toggle="modal" id="cb_@item2.CourtId" hour="@item.ResTimes" cname="@item2.CourtName" data-target="#exampleModalLong">
                                            @item2.CourtName
                                        </button>
                                    </td>
                                }
                            }

                        </tr>
                    }
                </table>
        }

    </div>
</section>



@*Modal*@
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Rezervasyon Bilgileriniz !!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Seçtiğiniz Kort Adı : </label>
                        <label style="color:black" id="CourtName"> </label>
                    </div>

                    <div class="form-group">
                        <label for="birthday">Reservasyon Tarihi Seçiniz :</label>
                        <input type="date" id="resDate" name="resDate">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Seçtiğinizi Başlangıç Saati : </label>
                        <label style="color:black" id="StartTime"> </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Seçtiğinizi Bitiş Saati : </label>
                        <label style="color:black" id="FinishTime"> </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1"></label>
                        <textbox style="color:black" id="event">event-1</textbox>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1"></label>
                        <textbox style="color:black; " id="userId"></textbox>
                    </div>

                </form>
            </div>
            <div id="submitButtons" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İPTAL</button>
                <button onclick="Approve(this.id)" type="button" id="approve" class="btn btn-primary">ONAYLA</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(document).ready(function () {
        var courtid, hour, courtname, userIdd;



        $('.courtbutton').click((e) => {

            courtname = $(e.target).attr('cname');
            courtid = e.target.id.replace("cb_", "");
            hour = $(e.target).attr('hour');
            userIdd = $(e.target).attr('userId');
            console.log($('#h_' + courtid).val());


            console.log(userId);

            var userIdtext = userIdd;
            var courttext = courtname;
            var starttimetext = hour;
            var finishtimetext = (parseInt(hour.split(':')[0]) + 1) + ': 00';


            console.log(userIdtext);

            $('#userId').text(userIdtext);
            $('#CourtName').text(courttext);
            $('#StartTime').text(starttimetext);
            $('#FinishTime').text(finishtimetext);
            $('#submitButtons button:nth-of-type(2)').attr("id", courtid);

        });
    });

</script>

<script>

    function Approve(id) {



        $("cb_").hide();

        var resobject = {

            ResDate: '',
            ResStartTime: '',
            ResFinishTime: '',
            ResEvent: '',
            userId: '',
            CId: null,


        }

        debugger;

        resobject.ResDate = $("#resDate").val();
        resobject.ResStartTime = $("#StartTime").text();
        resobject.ResFinishTime = $("#FinishTime").text();
        //resobject.ResEvent = $("#event").text();
        resobject.userId = $("#userId").text();
        resobject.CId = parseInt(id);

        try {
            $.ajax({
                type: "POST",
                url: '../Admin/NewReservation',
                cache: false,
                data: resobject,
                dataType: "json",
                async: true,
                success: function (res) {

                    if (res == "true") {
                        alert("BAŞARILI");
                    }
                    else
                        alert("BAŞARISIZ")

                },
                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        } catch (e) {
            console.log(e.message);
        }

    }
</script>






