@model Helpers.Dto.PartialViewDtos.ReservationListViewDto

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    Layout = "_MemberLayout";

    var fullname = HttpContextAccessor.HttpContext.Session.GetString("FullName");
    var nickname = HttpContextAccessor.HttpContext.Session.GetString("NickName");
    var username = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var compId = HttpContextAccessor.HttpContext.Session.GetString("CompId");
    var roleNm = HttpContextAccessor.HttpContext.Session.GetString("Role");
    var totalPrice = 0;
    var totPrice = 0;
    var newModel = Model.reservations.Where(x => x.UserId == userId && x.CompanyId == compId).OrderByDescending(x => x.ResId).ToList();
    var newResCancelModel = Model.reservationCancels.Where(x => x.UserId == userId && x.CompanyId == compId).OrderByDescending(x => x.ResId).ToList();
    var newCount = newModel.Count();
    var yx = Model.reservations.Where(x => x.UserId == userId && x.CompanyId == compId).ToList().OrderByDescending(x => x.ResDate).Select(x => x.ResDate.Split("-")[0]).Distinct().ToList();
    var dateCancel = Model.reservationCancels.Where(x => x.UserId == userId && x.CompanyId == compId).ToList().OrderByDescending(x => x.ResDate).Select(x => x.ResDate.Split("-")[0]).Distinct().ToList();
    yx.AddRange(dateCancel);
    var date = yx.Distinct().OrderByDescending(x => x).ToList();
    for (int i = 0; i < newResCancelModel.Count; i++)
    {
        if (newResCancelModel[i].PriceInf == false && newResCancelModel[i].Procedure == false)
        {
            var firstPrice = newResCancelModel[i].Price;
            totPrice = firstPrice + totPrice;
        }
    }
    for (int i = 0; i < newModel.Count; i++)
    {
        if (newModel[i].PriceInf == false)
        {
            var firstPrice = newModel[i].Price;
            totalPrice = firstPrice + totalPrice;
        }

    }
    var generalTotalPrice = totPrice + totalPrice;
    var debtCount = Convert.ToInt32(Model.reservations.Where(x => x.UserId == userId && x.PriceInf == false && x.CompanyId == compId && x.RoleName == roleNm).Count());
    var debtNotCount = Convert.ToInt32(Model.reservations.Where(x => x.UserId == userId && x.PriceInf == true && x.CompanyId == compId && x.RoleName == roleNm).Count());
    var debtCountCancel = Convert.ToInt32(Model.reservationCancels.Where(x => x.UserId == userId && x.PriceInf == false && x.Procedure == false && x.CompanyId == compId && x.RoleName == roleNm).Count());
    var debtNotCountCancel = Convert.ToInt32(Model.reservationCancels.Where(x => x.UserId == userId && x.PriceInf == true && x.Procedure == true && x.CompanyId == compId && x.RoleName == roleNm).Count());
    var totalDebt = debtCount + debtCountCancel;
    var totalDebtNotCount = debtNotCount + debtNotCountCancel;
    var cancelRes = Model.reservationCancels.Where(x => x.UserId == userId && x.CancelRes == true && x.CompanyId == compId).Count();
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Rezervasyon Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Reservation List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="card" style="border-radius:40px">
                <div class="card-content">
                    <div class="card-body cleartfix">
                        <div class="media align-items-stretch">
                            <div class="align-self-center">
                                <i style="font-size:60px; margin-right:20px ; color:darkmagenta" class="fas fa-id-card"></i>
                            </div>
                            <div class="media-body">
                                <h4>@fullname - @nickname</h4>
                                <span>@username</span>
                            </div>



                            <div class="align-self-center">
                                <h3>Toplam Borç: @generalTotalPrice ₺<i style="font-size:25px; margin-left:10px ; color:darkmagenta" class="fas fa-tags"></i></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@totalDebt</h3>
                            <p>Ödenmeyen Rezervasyonlar</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-window-close"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@totalDebtNotCount</h3>

                            <p>Ödeme Yapılan Rezervasyonlar</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-check-square"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@cancelRes</h3>

                            <p>İptal Edilen Rezervasyonlar</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-bell-slash"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@generalTotalPrice ₺</h3>

                            <p>Toplam Borç</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-money-check-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if (newModel.Count == 0 && newResCancelModel.Count == 0)
    {
        <div class="container-fluid">
            <div class="row mb-2">
                <div style="text-align:center; margin-top:50px" class="col-sm-12">
                    <h3 class="m-0">Rezervasyon Bilgisi Bulunamadı !! </h3>
                </div>
            </div>
        </div>
    }

    <section class="content">
        <div class="container-fluid">

            @for (int i = 0; i < date.Count; i++)
            {
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="card-title">
                            <h3>@date[i] Yılına Ait Rezervasyonlar</h3>
                        </div>

                    </div>

                    <div class="card-body">
                        <table id="example2" style="border-collapse:inherit" class="table table-bordered table-hover">
                            <thead>
                                <tr style="text-align:center">
                                    <th>Tarih</th>
                                    <th>Saat</th>
                                    <th>Kort Bilgisi</th>
                                    <th>Ücret Detayı</th>
                                    <th>Ücret Durumu</th>
                                    <th>Durumu</th>
                                    <th>Açıklama</th>



                                </tr>
                            </thead>
                            <tbody>

                                @if (newCount > 0 && newResCancelModel.Count() > 0)
                                {
                                    @foreach (var item in newModel)
                                    {
                                        if (item.ResDate.Split("-")[0] == date[i] && item.RoleName == roleNm)
                                        {
                                            <tr style="text-align:center" id="">
                                                <td>@item.ResDate</td>
                                                <td>@item.ResStartTime - @item.ResFinishTime</td>
                                                <td>@item.Court.CourtName</td>
                                                <td>@item.Price ₺</td>

                                                @if (item.PriceInf == true)
                                                {
                                                    <td>Ödendi</td>
                                                }

                                                else
                                                {
                                                    <td>Ödenmedi - Borç Mevcut</td>
                                                }

                                                <td>Aktif</td>

                                                @if (item.PriceInf == true)
                                                {
                                                    <td>Ödendi</td>
                                                }

                                                else
                                                {
                                                    <td><button class="btn btn-outline-dark"><i class="fas fa-wallet"></i></button></td>
                                                }



                                            </tr>
                                        }

                                    }

                                    @foreach (var item2 in newResCancelModel)
                                    {
                                        if (item2.ResDate.Split("-")[0] == date[i] && item2.RoleName == roleNm)
                                        {
                                            <tr style="text-align:center" id="">
                                                <td>@item2.ResDate</td>
                                                <td>@item2.ResStartTime - @item2.ResFinishTime</td>

                                                @{
                                                    var court = Model.courts.Where(x => x.CourtId == item2.CourtId).FirstOrDefault();
                                                }

                                                <td>@court.CourtName</td>
                                                <td>@item2.Price ₺</td>


                                                @if (item2.Procedure == true)
                                                {
                                                    <td>İade Edildi / Ödeme İptal Edildi</td>
                                                }
                                                else
                                                {
                                                    if (item2.PriceInf == true)
                                                    {
                                                        <td>Ödendi</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Ödenmedi</td>
                                                    }

                                                }


                                                @{
                                                    var x = Model.memberLists.FirstOrDefault(x => x.UserId == item2.CancelResUserId);
                                                }

                                                @if (x.UserId == userId)
                                                {
                                                    <td>İptal Edildi - Kendi</td>
                                                }
                                                else
                                                {
                                                    <td>İptal Edildi - @x.UserName - @x.Role</td>
                                                }


                                                @if (item2.Procedure == true)
                                                {
                                                    <td>İptal Edildi / Para İade / Borç Yok </td>
                                                }

                                                else
                                                {
                                                    if (item2.PriceInf == true)
                                                    {
                                                        <td>Ödendi</td>
                                                    }
                                                    else
                                                    {
                                                        <td><button class="btn btn-outline-dark"><i class="fas fa-wallet"></i></button></td>
                                                    }
                                                }

                                            </tr>
                                        }

                                    }
                                }
                                else if (newCount > 0 && newResCancelModel.Count() <= 0)
                                {
                                    @foreach (var item in newModel)
                                    {
                                        if (item.ResDate.Split("-")[0] == date[i] && item.RoleName == roleNm)
                                        {
                                            <tr style="text-align:center" id="">
                                                <td>@item.ResDate</td>
                                                <td>@item.ResStartTime - @item.ResFinishTime</td>
                                                <td>@item.Court.CourtName</td>
                                                <td>@item.Price ₺</td>

                                                @if (item.PriceInf == true)
                                                {
                                                    <td>Ödendi</td>
                                                }
                                                else
                                                {
                                                    <td>Ödenmedi</td>
                                                }

                                                <td>Aktif</td>

                                                @if (item.PriceInf == true)
                                                {
                                                    <td>Ödeme Alındı</td>
                                                }
                                                else
                                                {
                                                    <td><button class="btn btn-outline-dark"><i class="fas fa-wallet"></i></button></td>
                                                }


                                            </tr>
                                        }
                                    }
                                }
                                else if (newCount <= 0 && newResCancelModel.Count() > 0)
                                {
                                    @foreach (var item2 in newResCancelModel)
                                    {
                                        if (item2.ResDate.Split("-")[0] == date[i] && item2.RoleName == roleNm)
                                        {
                                            <tr style="text-align:center" id="">
                                                <td>@item2.ResDate</td>
                                                <td>@item2.ResStartTime - @item2.ResFinishTime</td>

                                                @{
                                                    var court = Model.courts.Where(x => x.CourtId == item2.CourtId).FirstOrDefault();
                                                }

                                                <td>@court.CourtName</td>
                                                <td>@item2.Price ₺</td>


                                                @if (item2.Procedure == true)
                                                {
                                                    <td>İade Edildi / Ödeme İptal Edildi</td>
                                                }
                                                else
                                                {
                                                    if (item2.PriceInf == true)
                                                    {
                                                        <td>Ödendi</td>
                                                    }
                                                    else
                                                    {
                                                        <td><button class="btn btn-outline-dark"><i class="fas fa-wallet"></i></button></td>
                                                    }

                                                }


                                                @{
                                                    var x = Model.memberLists.FirstOrDefault(x => x.UserId == item2.CancelResUserId);
                                                }

                                                @if (x.UserId == userId)
                                                {

                                                    <td>İptal Edildi - Kendi</td>
                                                }

                                                else
                                                {
                                                    <td>İptal Edildi - @x.UserName - @x.Role</td>
                                                }

                                                @if (item2.Procedure == true)
                                                {
                                                    <td>İptal Edildi - Para İade - Borç Yok </td>
                                                }

                                                else
                                                {
                                                    if (item2.PriceInf == true)
                                                    {
                                                        <td>İptal Edildi - Ödeme Alındı</td>
                                                    }
                                                    else
                                                    {
                                                        <td><button class="btn btn-outline-dark"><i class="fas fa-wallet"></i></button></td>
                                                    }

                                                }

                                            </tr>
                                        }

                                    }
                                }
                                else
                                {
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }

        </div>
    </section>
</div>


<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ödeme Yap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer" id="paymentOperation">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="doPayment(this.id)">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $('#example2 , #example3 , #example4').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });

    function payment(id) {

        var x = id.split(",");
        var resId = parseInt(x[0]);
        var userId = x[1];



        $.ajax({
            type: "POST",
            url: '../Public/GetPaymentOperations',
            cache: false,
            data: { "resId": resId, "userId": userId },
            dataType: "json",
            async: false,
            success: function (res) {


                if (res != null) {

                    $("#PriceInf").empty();
                    row = "";
                    row += '';

                    $("#PriceInf").append(row);
                }


                $("#paymentOperation button:nth-of-type(2)").attr("id", id);
                $("#paymentModal").modal("toggle");

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }


    function doPayment(id) {
        var x = id.split(",");
        var resId = parseInt(x[0]);
        var userId = x[1];

        $.ajax({
            type: "POST",
            url: '../Public/PaymentOperations',
            cache: false,
            data: { "resId": resId, "userId": userId },
            dataType: "json",
            async: false,
            success: function (res) {


                re

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }
</script>
