@model Helpers.Dto.PartialViewDtos.ReservationViewDto;

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
    @*<script>
            document.getElementsByTagName("html")[0].className += " js";
        </script>*@


    @{

        var fullname = HttpContextAccessor.HttpContext.Session.GetString("FullName");
        var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
        var Role = HttpContextAccessor.HttpContext.Session.GetString("Role");
        var times = Model.resTimes.Where(x => x.Restimes60 == 60).ToList();
        var x = times.Count * 4;

        var start = Model.reservationSettings.Where(x => x.ReservationSettingsInf == "Web Rezervasyon Başlangıç Saati").FirstOrDefault();
        var finish = Model.reservationSettings.Where(x => x.ReservationSettingsInf == "Web Rezervasyon Bitiş Saati (Max = 23:59)").FirstOrDefault();
        var resSettingsTime = Model.reservationSettings.Where(x => x.ReservationSettingsInf == "Rezervasyon Süresi (Dakika)").FirstOrDefault();

        var startTime = start.ReservationValue;
        var finishTime = finish.ReservationValue;
        var resSetTime = resSettingsTime.ReservationValue;

    }



    <style>
        .tdHover:hover {
            background-color: #131da882;
        }

        .reservationForm {
            padding: 1rem 0 0.3rem 0 !important;
            border: 1px solid #dedede !important;
            margin: 0.2rem !important;
        }

        .custom-control2 {
            padding: 0.2rem !important;
        }

        .custom-control-label2::before {
            top: -0.75rem !important;
            left: 0.8rem !important;
        }

        .custom-control-label2::after {
            top: -0.75rem !important;
            left: 0.8rem !important;
        }
    </style>

    <div style="display: none;"><input id="RoleName" type="text" name="name" value="@Role" /></div>
    <div style="display: none;"><input id="doRes" start="@startTime" finish="@finishTime" setTime="@resSetTime" type="text" /></div>




    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Rezervasyon Genel Durum</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-header d-flex justify-content-between">

                                <div style="margin:8px" id="TimeInf">

                                </div>

                                <div style="margin-top:8px">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">

                                            @{
                                                DateTime date1 = DateTime.Now;
                                                var date2 = date1.AddDays(1);
                                                var today = date1.ToString("yyyy-MM-dd");
                                                var tomorrow = date2.ToString("yyyy-MM-dd");
                                            }

                                            <li class="page-item"><a style="color:white;  background-color:#3fc9d5 !important" class="page-link" href="~/Public/Reservation?date=@today">Bugün</a></li>
                                            <li class="page-item"><a style="color:white; background-color:#337ab7" class="page-link" href="~/Public/Reservation?date=@tomorrow">Yarın</a></li>
                                            <li class="page-item"><input class="form-control" type="date" id="timeNow" style="cursor:pointer; background-color:#e7505a; color:white"></li>
                                            <li class="page-item"><button style="color:cornflowerblue; background-color:#f9f9f9" class="page-link" onclick="preDate()"><i class="fas fa-chevron-left"></i></button></li>
                                            <li class="page-item"><button style="color:cornflowerblue; background-color:#f9f9f9" class="page-link" onclick="nextDate()"><i class="fas fa-chevron-right"></i></button></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <table style="text-align:center" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="background-color:#f5f8fd" scope="col">
                                                    <div class="row">
                                                        <div class="col-md-7">Kortlar</div>

                                                        <div style="background-color:royalblue; color:white ; cursor:pointer" class="col-md-2">
                                                            <i class="fas fa-print"></i>
                                                        </div>

                                                        <div class="col-md-2" style="background-color: #e7505a; color:white">
                                                            <i class="fas fa-trash"></i>
                                                        </div>


                                                    </div>
                                                </th>

                                                @for (int i = 0; i < times.Count; i++)

                                                {
                                                    <th style="background-color:#f5f8fd" colspan="4" scope="col">@times[i].ResTimes</th>

                                                }

                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model.courts)

                                            {
                                                <tr>

                                                    <th style="background-color:#f5f8fd" scope="row">@item.CourtName</th>

                                                    @for (int i = 0; i < Model.resTimes.Count; i++)
                                                    {

                                                        var res = Model.reservations.Where(x => x.ResStartTime == Model.resTimes[i].ResTimes && x.Court.CourtId == item.CourtId).FirstOrDefault();

                                                        var resCancel = Model.reservationCancels.Where(x => x.ResStartTime == Model.resTimes[i].ResTimes && x.CourtId == item.CourtId).FirstOrDefault();

                                                        var court = Model.courtTimeInfs.SingleOrDefault(x => x.CourtId == item.CourtId);

                                                        var period = (60 / Convert.ToInt32(court.CourtTimePeriod));

                                                        if (res != null && resCancel != null)
                                                        {
                                                            <td data-toggle="tooltip" data-placement="top" title="@res.ResStartTime - @res.ResFinishTime - @res.Court.CourtName - @res.ResDate" onclick="openResInfModal(this.id)" id="@res.ResId" colspan="4" style="text-align:center; vertical-align:middle; cursor:pointer; background-color:#1bbc27!important;color:#ffffff!important;">
                                                                <div style="background-color:#1bbc27!important;color:#ffffff!important;">
                                                                    <a style="padding:0;color:#fff;">
                                                                        @res.NickName

                                                                    </a>
                                                                </div>
                                                                <div style="position: relative;height:2px;background-color:#e61a1a"></div>
                                                            </td>

                                                            i = i + 3;
                                                        }

                                                        else if (res != null)
                                                        {
                                                            <td data-toggle="tooltip" data-placement="top" title="@res.ResStartTime - @res.ResFinishTime - @res.Court.CourtName - @res.ResDate" onclick="openResInfModal(this.id)" id="@res.ResId" colspan="4" style="text-align:center; vertical-align:middle; cursor:pointer; background-color:#1bbc27!important;color:#ffffff!important;">
                                                                <div style="background-color:#1bbc27!important;color:#ffffff!important;">
                                                                    <a style="padding:0;color:#fff;">
                                                                        @res.NickName


                                                                    </a>
                                                                </div>
                                                            </td>

                                                            i = i + 3;
                                                        }



                                                        else if (resCancel != null)
                                                        {
                                                            var time = Model.resTimes[i].ResTimes;

                                                            for (var t = 0; t < 4; t++)
                                                            {
                                                                if (period == 1)
                                                                {
                                                                    <td id="@item.CourtId , @item.CourtName" class="tdHover" data-toggle="tooltip" data-placement="top" title="@item.CourtName - @time" onclick="openResModal(this.id)" colspan="4" style="vertical-align:bottom; padding: 0px; border: 1px solid #dadee2; cursor:pointer">
                                                                        <div style="position: relative;height:3px;background-color:#e61a1a"></div>
                                                                    </td>


                                                                    t = t + 3;

                                                                }
                                                                else if (period == 2)
                                                                {
                                                                    <td id="@item.CourtId , @item.CourtName" class="tdHover" data-toggle="tooltip" data-placement="top" title="@item.CourtName - @time" onclick="openResModal(this.id)" colspan="2" style="vertical-align:bottom; padding: 0px; border: 1px solid #dadee2; cursor:pointer">
                                                                        <div style="position: relative;height:3px;background-color:#e61a1a"></div>
                                                                    </td>

                                                                    var c = time.Split(":");
                                                                    var hour = Convert.ToInt32(c[0]);
                                                                    var min = Convert.ToInt32(c[1]);
                                                                    if (min == 30)
                                                                    {
                                                                        time = (hour + 1) + ":" + "00";
                                                                    }
                                                                    else
                                                                    {

                                                                        time = hour + ":" + (min + 30);
                                                                    }
                                                                    t = t + 1;
                                                                }
                                                                else
                                                                {
                                                                    <td id="@item.CourtId , @item.CourtName" class="tdHover" data-toggle="tooltip" data-placement="top" title="@item.CourtName - @time" onclick="openResModal(this.id)" style="vertical-align:bottom; padding: 0px; border: 1px solid #dadee2; cursor:pointer">
                                                                        <div style="position: relative;height:3px;background-color:#e61a1a"></div>
                                                                    </td>


                                                                    var c = time.Split(":");
                                                                    var hour = Convert.ToInt32(c[0]);
                                                                    var min = Convert.ToInt32(c[1]);
                                                                    if (min == 45)
                                                                    {
                                                                        time = (hour + 1) + ":" + "00";
                                                                    }
                                                                    else
                                                                    {

                                                                        time = hour + ":" + (min + 15);
                                                                    }
                                                                }

                                                            }
                                                            i = i + 3;
                                                        }


                                                        else

                                                        {
                                                            if (period == 4)
                                                            {
                                                                <td class="tdHover" data-toggle="tooltip" data-placement="top" title="@item.CourtName - @Model.resTimes[i].ResTimes" onclick="openResModal(this.id)" style="cursor:pointer" id="@item.CourtId , @item.CourtName , @Model.resTimes[i].ResTimes" per="@period"></td>
                                                            }

                                                            else if (period == 2)
                                                            {
                                                                <td class="tdHover" data-toggle="tooltip" data-placement="top" title="@item.CourtName - @Model.resTimes[i].ResTimes" onclick="openResModal(this.id)" colspan="2" style="cursor:pointer" id="@item.CourtId , @item.CourtName , @Model.resTimes[i].ResTimes" per="@period"></td>
                                                                i = i + 1;
                                                            }
                                                            else if (period == 1)
                                                            {
                                                                <td class="tdHover" data-toggle="tooltip" data-placement="top" title="@item.CourtName - @Model.resTimes[i].ResTimes" onclick="openResModal(this.id)" colspan="4" style="cursor:pointer" id="@item.CourtId , @item.CourtName , @Model.resTimes[i].ResTimes" per="@period"></td>
                                                                i = i + 3;
                                                            }

                                                        }

                                                    }

                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="modal fade" id="openResInf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #004e6c;">
                    <h5 class="modal-title" style="color:white;" id="exampleModalLabel">Rezervasyon Bilgileri</h5>
                    <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card">
                        <div class="card-body row" style="background-color: #f7f7f7f7;">

                            <h5 class="col-md-9" id="nickAndFullName"></h5>
                            <div id="cancelRes" class="col-md-0">
                                <button style="background-color:#dc3545; color:white" class="btn btn-danger" type="button" onclick="cancelRes(this.id)">İptal Et</button>
                            </div>
                            <div class="col-md">
                                <button style="background-color:#ffc107; color:white" class="btn btn-warning" type="button" id="">Düzenle</button>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body" style="background-color:#f7f7f7">
                                    <ul style="font-size:20px" class="list-group list-group-flush">
                                        <li id="courtName" class="list-group-item"></li>
                                        <li id="resDate" class="list-group-item"></li>
                                        <li id="resTime" class="list-group-item"></li>
                                        <li id="resNowDate" class="list-group-item"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">

                                    <div id="PriceInf" class="info-box shadow-lg">

                                    </div>

                                    <div class="info-box shadow-lg">

                                        <div class="info-box-content">
                                            <table style="text-align:center" class="table table-bordered">


                                                <thead>
                                                    <tr>
                                                        <th style="font-weight:bold" scope="col">Ücret Bilgisi</th>
                                                        <th style="font-weight:bold" scope="col">Ücret </th>

                                                    </tr>
                                                </thead>

                                                <tbody id="PriceNI">
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th style="font-weight:bold" scope="col">Ücret Toplam :</th>
                                                        <th id="sumPrice" style="font-weight:bold" scope="col"></th>

                                                    </tr>
                                                </tfoot>

                                            </table>
                                        </div>
                                    </div>

                                    <div class="info-box shadow-lg">
                                        <div class="info-box-content">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-danger courtbutton">Ödeme</button>
                                                </div>
                                                <div class="col-md-5">
                                                    <button type="button" class="btn btn-danger courtbutton">Toplu Ödeme</button>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-danger courtbutton"><i class="fas fa-print"></i> </button>
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-danger courtbutton"><i class="fas fa-edit"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="rsvModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #004e6c;">
                    <h4 style="margin:auto; color:white">Rezervasyon Yap</h4>
                </div>

                <div class="modal-header">
                    <div class="col-sm-4">
                        <h4>Sayın , @fullname</h4>
                    </div>
                </div>



                <div id="CourtandTime">

                </div>

                <div class="modal-header">
                    <div class="row" id="court_select">
                        <div id="ResModal" style="display: contents;">

                        </div>
                    </div>
                </div>

                <div class="modal-header" style="background-color: #004e6c;">
                    <h4 style="margin:auto; color:white">Ücretlendirme</h4>
                </div>


                <div class="modal-header">
                    <div class="col-sm-12">
                        <div class="form-group" style="text-align:center">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th style="font-weight:bold" scope="col">Adı</th>
                                        <th style="font-weight:bold" scope="col">Fiyatı</th>
                                        <th style="font-weight:bold" scope="col">Seç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item2 in Model.courtPriceLists)
                                    {
                                        if (item2.Condition == "1")
                                        {
                                            <tr>
                                                <td>@item2.Name</td>
                                                <td>@item2.CourtPrice ₺ </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox " id="checkPriceTable">

                                                        @{ if (item2.PriceType == "1")
                                                            {
                                                                <input class="custom-control-input custom-control-input-danger custom-control-input-outline" value="@item2.CourtPriceListId" type="checkbox" name="@item2.CourtPrice" id="cb_@item2.CourtPriceListId" checked="checked" disabled="">
                                                            }

                                                            else
                                                            {
                                                                <input class="custom-control-input custom-control-input-danger" value="@item2.CourtPriceListId" name="@item2.CourtPrice" type="checkbox" id="cb_@item2.CourtPriceListId">
                                                            }

                                                        }
                                                        <label for="cb_@item2.CourtPriceListId" class="custom-control-label"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="font-weight:bold" scope="col">Ücret Toplam :</th>
                                        <th id="sumOfPrice" style="font-weight:bold" scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <div style="display:none" class="modal-footer">
                    <textbox style="color:black; " id="userId">@userId</textbox>
                </div>



                <div class="modal-footer" id="forApproveId">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" onclick="Approve(this.id)">Rezervasyon Yap</button>
                </div>
            </div>
        </div>
    </div>



    <script>

    var picker = "@ViewBag.Date";

    $(document).ready(function () {

        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $('#example2 , #example3 , #example4').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

            var now = new Date();
            var month = (now.getMonth() + 1);
            var day = now.getDate();

        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;

        var today = now.getFullYear() + '-' + month + '-' + day;



        //Rezervasyon Şema Tarih

        $('#timeNow').val(picker);


        $('#timeNow').change(function () {

            window.location.href = "Reservation?date=" + $('#timeNow').val();

         });


        getPrice();

        $('#checkPriceTable input').click(function () {
            if ($(this).is(':checked'))
                getPrice();
            else {
                getPrice();
            }
        });



        //TimeInf
        var time = $('#timeNow').val();
        var b = time.split("-");
        var timeNow = b[2] + '-' + b[1] + '-' + b[0];

        var days = new Date(time);
        var getday = days.getDay();



        switch (getday) {
            case 0:
                day = "Pazar";
                break;
            case 1:
                day = "Pazartesi";
                break;
            case 2:
                day = "Salı";
                break;
            case 3:
                day = "Çarşamba";
                break;
            case 4:
                day = "Perşembe";
                break;
            case 5:
                day = "Cuma";
                break;
            case 6:
                day = "Cumartesi";
        }

        $("#TimeInf").empty();
        row = "";
        row += '<h4 style="margin:auto; color:black"><i style="color:black" class="fas fa-flag nav-icon"></i>' + ' ' + timeNow + ' ' + ' - ' + ' ' + day + ' ' + '</h4>';
        $("#TimeInf").append(row);
    });



    // Rezervasyon Şema Tarih
    function nextDate() {

        var date = $("#timeNow").val();

        const d = new Date(date);
        d.setDate(d.getDate() + 1);

        var month = (d.getMonth() + 1);
        var day = d.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;

        var date3 = d.getFullYear() + '-' + month + '-' + day;



        window.location.href = "Reservation?date=" + date3;
    }

    function preDate() {

        var date = $("#timeNow").val();

        const d = new Date(date);
        d.setDate(d.getDate() - 1);

        var month = (d.getMonth() + 1);
        var day = d.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var date4 = d.getFullYear() + '-' + month + '-' + day;



        window.location.href = "Reservation?date=" + date4;

    }

    //Rezervasyon Yap
    function openResModal(id ) {


        debugger;

        var a = id.split(",");
        var courtId = a[0];
        var courtName = a[1];
        var checkTime = a[2];

        var resStartTime = $('#doRes').attr('start');
        var resFinishTime = $('#doRes').attr('finish');
        var dt = new Date();
        var hours = dt.getHours();
        var min = dt.getMinutes();

        if (hours < 10)
        {
            var time = "0" +  hours + ":" + min;
        }
        else if (min < 10) {
            var time = hours + ":" + "0" +  min;
        }
        else if (hours < 10 && min <10) {
            var time = "0" + hours + ":" + "0" + min;
        }
        else
            var time =  hours + ":" + min;



        var a = time.split(":");
        var b = resStartTime.split(":");
        var c = resFinishTime.split(":");

        var nowTime = a[0] + a[1];
        var sTime = b[0] + b[1];
        var fTime = c[0] + c[1];


        if (sTime < nowTime && fTime > nowTime) {

            getCourtTime(courtId, courtName , checkTime);
        }

        else {

            swal("Rezervasyon Saatleri Dışındasınız !", "Rezervasyon Saatleri: " + '  ' + resStartTime + '  ' + "ile" + '  ' + resFinishTime + '  ' + "saatleri" + '  ' + "arasındadır.", "warning", {
                button: "Tamam",
            });
        }
    }


    function getCourtTime(courtId , courtName , checkTime) {

        $("#forApproveId button:nth-of-type(2)").attr("id", courtId);

        var dt = new Date();

        var hours = dt.getHours();
        var min = dt.getMinutes();

        if (hours < 10)
        {
            var time = "0" +  hours + ":" + min;
        }
        else if (min < 10) {
            var time = hours + ":" + "0" +  min;
        }
        else if (hours < 10 && min <10) {
            var time = "0" + hours + ":" + "0" + min;
        }
        else
            var time =  hours + ":" + min;



        var days = new Date($('#timeNow').val());
        var getday = days.getDay();

        var dd = String(dt.getDate()).padStart(2, '0');
        var mm = String(dt.getMonth() + 1).padStart(2, '0');
        var yyyy = dt.getFullYear();

        var today = yyyy + '-' + mm + '-' + dd;


        var date = $("#timeNow").val();
        var b = date.split("-");
        var timeInf = b[2] + '-' + b[1] + '-' + b[0];


        //ResNextDayMember
        function parseDate(str) {
            var mdy = str.split('-');
            return new Date(mdy[0], mdy[1] - 1, mdy[2]);
        }

        function datediff(first, second) {
            // Take the difference between the dates and divide by milliseconds per day.
            // Round to nearest whole number to deal with DST.
            return Math.round((second - first) / (1000 * 60 * 60 * 24));
        }

        var x = today;
        var y = $("#timeNow").val();

        var diff = datediff(parseDate(x), parseDate(y));

        if ($("#timeNow").val() < today) {

            swal("Uyarı !", "Önceki Günlere Rezervasyon Yapamazsınız." , "warning", {
                button: "Tamam",
            });

            $("#timeNow").val(today)
        }

        else if ($("#RoleName").val() == "Üye" && diff > 3 ) {


                swal("Uyarı !", "En Fazla 3 Gün Sonraya Rezervasyon Yapabilirsiniz  !!", "warning", {
                    button: "Tamam",
                });

                $("#dateInf").val(today)
        }

        else if ($("#RoleName").val() == "Antrenör" && diff > 6) {

                swal("Uyarı !", "En Fazla 6 Gün Sonraya Rezervasyon Yapabilirsiniz  !!", "warning", {
                    button: "Tamam",
                });

                $("#dateInf").val(today)
        }

        else
            $.ajax({
                type: "POST",
                url: '../Public/GetResTime',
                cache: false,
                data: { "dateInf": $("#timeNow").val(), courtId },
                dataType: "json",
                async: false,
                success: function (res) {

                    debugger;

                    $('#rsvModal').modal('toggle');


                    switch (getday) {
                        case 0:
                            day = "Pazar";
                            break;
                        case 1:
                            day = "Pazartesi";
                            break;
                        case 2:
                            day = "Salı";
                            break;
                        case 3:
                            day = "Çarşamba";
                            break;
                        case 4:
                            day = "Perşembe";
                            break;
                        case 5:
                            day = "Cuma";
                            break;
                        case 6:
                            day = "Cumartesi";
                    }

                    $("#CourtandTime").empty();
                    row = "";
                    row += '<div class="modal-header" style="background-color: #004e6c;">';
                    row += '<h4 style=" margin:auto; color:white"><i class="fas fa-flag nav-icon"></i>' + ' ' + courtName + ' ' + ' - ' + ' ' + timeInf + ' ' + ' - ' + ' ' + day + ' ' + ':' + ' ' + '</h4>';
                    row += '</div>';
                    $("#CourtandTime").append(row);


                    if (res.length > 0) {

                            $("#ResModal").empty();

                        for (var i = 0; i < res.length; i++) {

                                NewRow = "";
                                NewRow += '<div class="form-group reservationForm">';
                                NewRow += '<div class="custom-control custom-checkbox custom-control2" id="checkTimeTable">';

                                if (res[i].isTaken == true)

                                    NewRow += '<input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" id="customCheckbox5" checked="" disabled="">';

                                else if (res[i].start <= time && date == today)

                                    NewRow += '<input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" id="customCheckbox5" checked="" disabled="">';

                                else

                                NewRow += '<input class="custom-control-input custom-control-input-danger" type="checkbox" id= "t_' + res[i].timeId + '" name= "' + res[i].start + '">';
                                NewRow += '<label for="t_' + res[i].timeId + '" class="custom-control-label custom-control-label2">' + res[i].start + '</label>';
                                NewRow += '</div></div>';


                                $("#ResModal").append(NewRow);
                        }

                    }
                },

                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });

    }




    function getPrice() {

        var price = [];
        $('#checkPriceTable input:checked').each(function () {
            price.push(this.name);
        });


        var sum = 0;

        for (var i = 0; i < price.length; i++) {

            var first = parseInt(price[i])
            var sum = first + sum;


            $("#sumOfPrice").html(sum);
        }

    }



    function Approve(id) {

        // seçilen saatler
        var times = [];
        $('#checkTimeTable input:checked:not(:disabled)').each(function () {
            times.push(this.name);
        });

        
        debugger;

        var priceId = [];
        $('#checkPriceTable input:checked').each(function () {
            priceId.push(this.value);
        });

        var strPriceId = "";

        for (var i = 0; i < priceId.length; i++) {

            var Id = priceId[i];
            var x = Id + ',';
            strPriceId = strPriceId + x;
        }


        //saat  - tarih
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

        var dd = String(dt.getDate()).padStart(2, '0');
        var mm = String(dt.getMonth() + 1).padStart(2, '0');
        var yyyy = dt.getFullYear();

        var today = yyyy + '-' + mm + '-' + dd;



        var resobject = {

            ResDate: '',
            ResStartTime: '',
            ResFinishTime: '',
            ResEvent: '',
            userId: '',
            CourtId: '',
            ResTime: '',
            ResNowDate: '',
            Price: '',
            PriceIds:'',
        }

        resobject.ResNowDate = today;
        resobject.ResStartTime = times[0];
        resobject.ResFinishTime = times[(times.length - 1)];

        resobject.Price = $("#sumOfPrice").html();
        resobject.ResDate = $("#timeNow").val();
        resobject.ResTime = time;
        resobject.PriceIds = strPriceId;
        resobject.userId = $("#userId").text();
        resobject.ResEvent = "event-1"
        resobject.CourtId = id;

        if (times.length == 0) {

            swal({
                title: "Rezervasyon Onaylanmadı",
                text: "Lütfen Saat Seçiniz !",
                icon: "error",
                button: "Tamam",
            }).then((value) => {

               

            });
        }

        else {
            try {

                $.ajax({
                    type: "POST",
                    url: '../Public/NewReservation',
                    cache: false,
                    data: resobject,
                    dataType: "json",
                    async: true,
                    success: function (res) {

                        if (res == true) {

                            $('#rsvModal').modal('toggle');

                            swal({
                                title: "Rezervasyon Başarılı",
                                text: "Rezervasyon Kaydınız Başarılı Bir Şekilde Gerçekleşti !",
                                icon: "success",
                                button: "Tamam",
                            }).then((value) => {

                                window.location.href = "Reservation?date=" + $('#timeNow').val();

                            });
                        }

                        else {

                            $('#rsvModal').modal('toggle');

                            swal({
                                title: "Rezervasyon Onaylanmadı",
                                text: "Bakiye Yetersiz Lütfen Bakiye Yükleyiniz !",
                                icon: "error",
                                button: "Tamam",
                            }).then((value) => {

                               

                            });
                        }

                    },
                    error: function (textStatus, errorThrown) {
                        console.log(JSON.stringify(textStatus));
                        console.log(textStatus);
                    }
                });
            } catch (e) {
                console.log(e.message);
            }

        }
    }


    function WebReservation() {

        swal("Dikkat!", "İnternet Üzerinden Rezervasyon Yetkiniz Bulunmamaktadır.", "warning", {
            button: "Tamam",
        });
    }





    //RezervasyonBilgiModal

    function openResInfModal(id) {

        $.ajax({
            type: "GET",
            url: '../Public/GetResModalInf',
            cache: false,
            data: { "id": id },
            dataType: "json",
            async: true,
            success: function (res) {



                $("#PriceInf").empty();
                row = "";

                if (res.resSchemaModal.priceInf == false) {
                    row += '<span class="info-box-icon bg-danger"><i class="fas fa-times"></i></span>';
                    row += '<div class="info-box-content">';
                    row += '<span class="info-box-text">Ücreti Ödenmedi - Borç Mevcut</span>';
                }
                else {
                    row += '<span style="background-color:#82c91e" class="info-box-icon "><i class="fas fa-check"></i></span>';
                    row += '<div class="info-box-content">';
                    row += '<span class="info-box-text">Ücreti Ödendi - Borç Mevcut Değil</span>';
                }
                row += '</div>';
                $("#PriceInf").append(row);



                var x = res.resSchemaModal.priceIds;
                var IdsArray = x.split(",");

                $("#PriceNI").empty();

                row = "";

                for (var i = 0; i < res.courtPriceLists.length; i++) {
                    for (var a = 0; a < IdsArray.length; a++) {

                        if (IdsArray[a] == res.courtPriceLists[i].courtPriceListId) {
                            row += '<tr>';
                            row += '<td>' + res.courtPriceLists[i].name + '</td>';
                            row += '<td>'+ res.courtPriceLists[i].courtPrice+'</td>';
                            row += '</tr>';
                        }
                    }
                }

                $("#PriceNI").append(row);

                $("#sumPrice").html(res.resSchemaModal.price);

                var a = res.resSchemaModal.resNowDate.split("-");
                var nowDate = a[2] + '-' + a[1] + '-' + a[0];

                var b = res.resSchemaModal.resDate.split("-");
                var date = b[2] + '-' + b[1] + '-' + b[0];

                var days = new Date(res.resSchemaModal.resDate);
                var getday = days.getDay();

                switch (getday) {
                    case 0:
                        day = "Pazar";
                        break;
                    case 1:
                        day = "Pazartesi";
                        break;
                    case 2:
                        day = "Salı";
                        break;
                    case 3:
                        day = "Çarşamba";
                        break;
                    case 4:
                        day = "Perşembe";
                        break;
                    case 5:
                        day = "Cuma";
                        break;
                    case 6:
                        day = "Cumartesi";
                }

                if (res != null) {

                    $("#nickAndFullName").text(res.resSchemaModal.nickName + ' - ' + res.resSchemaModal.fullName);
                    $("#courtName").text('Kort Adı:' + ' ' + res.resSchemaModal.courtName);
                    $("#resDate").text('Tarih-Gün:' + ' ' + date + ' - ' + day);
                    $("#resTime").text('Saat:' + ' ' + res.resSchemaModal.resStartTime + ' - ' + res.resSchemaModal.resFinishTime);
                    $("#resNowDate").text('Oluşturulma' + ':' + ' ' + nowDate + ' - ' + res.resSchemaModal.resTime);

                    $("#cancelRes button:nth-of-type(1)").attr("id", id);
                    $('#openResInf').modal('toggle');

                }
                else {
                    $.confirm({
                        title: "Uyarı",
                        content: "Üye Bulunamadı.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function cancelRes(id) {
        var  userId = $("#userId").text();
        $('#openResInf').modal('toggle');

        swal({
            title: "Emin Misiniz?",
            text: "Rezervasyon  İptal Edilecek !",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: "GET",
                        url: '../Public/CancelRes',
                        cache: false,
                        data: { "id": id , "userId":userId},
                        dataType: "json",
                        async: true,
                        success: function (res) {

                            if (res != null) {

                                swal({
                                    title: "Rezervasyon İptal Edildi",
                                    text: "Rezervasyon Kaydınız Başarılı Bir Şekilde İptal Edildi !",
                                    icon: "success",
                                    button: "Tamam",
                                }).then((value) => {

                                    window.location.href = "Reservation?date=" + $('#timeNow').val();

                                });

                            }
                        },

                        error: function (textStatus, errorThrown) {
                            console.log(JSON.stringify(textStatus));
                            console.log(textStatus);
                        }
                    });

                }
                else
                    swal({
                        title: "Rezervasyon Korundu",
                        text: "Rezervasyonu Silmekten Vazgeçtiniz!",
                        icon: "success",
                        button: "Tamam",
                    });
            });
    }


    </script>
