@model Helpers.Dto.PartialViewDtos.GetMemberDetailViewDto;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tdHover:hover {
        background-color: #131da882;
        color: white !important;
    }
</style>


<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card" style="border-radius:40px">
                <div class="card-content">
                    <div class="card-body cleartfix">
                        <div class="media align-items-stretch">

                            <div class="align-self-center">
                                <i style="font-size:60px; margin-right:20px ; color:darkmagenta" class="fas fa-id-card"></i>
                            </div>

                            <div class="media-body">
                                <h4>@Model.memberLists.FullName - @Model.memberLists.NickName</h4>
                                <span>@Model.memberLists.UserName</span>
                                <h4 style="display:none" id="userId">@Model.memberLists.UserId</h4>
                            </div>

                            <div class="align-self-center">
                                <h3>Toplam Bakiye: @Model.memberLists.Price ₺<i style="font-size:25px; margin-left:10px ; color:darkmagenta" class="fas fa-tags"></i></h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-6">

                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 style="font-size:1.2rem">@Model.memberLists.StartDate</h3>

                            <p>Başlangıç Tarihi</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3 style="font-size:1.2rem">@Model.memberLists.FinishDate<sup style="font-size: 20px"></sup></h3>

                            <p>Bitiş Tarihi</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3 style="font-size:1.2rem">
                                @{
                                    var a = Model.memberLists.Role.ToLower();

                                }
                                @Char.ToUpperInvariant(a[0])@a.Substring(1)
                            </h3>

                            <p>Kullanıcı Yetkisi</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3 style="font-size:1.2rem">@Model.memberLists.Condition</h3>

                            <p>Kullanıcı Durumu</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-white register-card-body">
                        <div class="card-header">
                            <h3 style="color:gray" class="card-title">Kişisel Bilgiler</h3>
                        </div>
                        <div class="row">

                            <div class="card-body col-lg-6">
                                <strong><i class="fas fa-book mr-1"></i> Adı - Soyadı / Rolü</strong>

                                <div class="row">
                                    <div class="input-group col-md-7">
                                        <input type="text" class="form-control" placeholder="Adı - Soyadı" id="name" value="@Model.memberLists.FullName" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-5">
                                        <select id="RegistersRole" class="form-control">
                                            <option disabled="disabled" selected>@Model.memberLists.Role</option>
                                            @for (int i = 0; i < Model.AppIdentityRoles.Count(); i++)
                                            {
                                                <option>@Model.AppIdentityRoles[i].Name</option>
                                            }

                                        </select>
                                    </div>
                                </div>



                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Kullanıcı Adı - Rumuz</strong>

                                <div class="row">

                                    <div class="input-group col-md-6">
                                        <input id="username" placeholder="Kullanıcı Adı" type="text" class="form-control" value="@Model.memberLists.UserName" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="input-group col-md-6">
                                        <input id="birthPlace" placeholder="Rumuz" disabled type="text" class="form-control" value="@Model.memberLists.NickName" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Başlangıç Tarihi - Bitiş Tarihi</strong>

                                <div class="row">

                                    <div class="input-group col-md-6">
                                        <input placeholder="Başlangıç Tarihi" value="@Model.memberLists.StartDate" type="text" class="form-control" id="startDate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-6">

                                        <input placeholder="Bitiş Tarihi" value="@Model.memberLists.FinishDate" type="text" class="form-control" id="finishDate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">

                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>

                                    </div>
                                </div>


                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> T.C. Kimlik Numarası</strong>

                                <div class="input-group">
                                    <input type="text" placeholder="TC Kimlik" class="form-control" id="identificationNumber" value="@Model.memberLists.IdentityNumber" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>


                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Doğum Tarihi - Doğum Yeri</strong>

                                <div class="row">

                                    <div class="input-group col-md-6">
                                        <input placeholder="Doğum Tarihi" value="@Model.memberLists.BirthDate" type="text" class="form-control" id="birthdate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-6">
                                        <input id="birthPlace" placeholder="Doğum Yeri" type="text" class="form-control" value="@Model.memberLists.BirthPlace" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> Telefon Numarası - Açıklama</strong>

                                <div class="row">
                                    <div class="input-group  col-md-6">
                                        <input placeholder="Telefon No" value="@Model.memberLists.Phone" id="phone" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                    </div>

                                    <div class="input-group  col-md-6">
                                        <input type="text" class="form-control" value="@Model.memberLists.PhoneExp" id="phoneExp" placeholder="Tel Açıklama" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="margin-top:15px" class="row">
                                    <div class="input-group  col-md-6">
                                        <input placeholder="Telefon No 2" value="@Model.memberLists.Phone2" id="phone2" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-6">
                                        <input type="text" value="@Model.memberLists.Phone2Exp" class="form-control" id="phone2Exp" placeholder="Tel Açıklama 2" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> E-Posta Adresi - Açıklama</strong>

                                <div class="row">

                                    <div class="input-group  col-md-8">
                                        <input value="@Model.memberLists.Email" type="email" class="form-control" id="email" placeholder="Email" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-4">
                                        <input type="text" value="@Model.memberLists.EmailExp" class="form-control" id="emailExp" placeholder="Email Açıklama" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i>Meslek</strong>

                                <div class="input-group col-md-12">
                                    <input type="text" value="@Model.memberLists.Job" class="form-control" id="job" placeholder="Meslek" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                            </div>



                            <div class="card-body col-lg-6 ">
                                <strong><i class="fas fa-book mr-1"></i> Anne - Baba Adı</strong>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <input type="text" value="@Model.memberLists.MotherName" class="form-control" id="motherName" placeholder="Anne Adı" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-6">
                                        <input type="text" value="@Model.memberLists.FatherName" class="form-control" id="fatherName" placeholder="Baba Adı" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Şehir - İlçe</strong>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <input type="text" value="@Model.memberLists.City" class="form-control" id="city" placeholder="Şehir" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-6">
                                        <input type="text" value="@Model.memberLists.District" class="form-control" id="district" placeholder="İlçe" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <strong><i class="far fa-file-alt mr-1"></i> Notlar</strong>

                                <div class="input-group col-md-12">
                                    <input type="text" value="@Model.memberLists.Note" class="form-control" id="note" placeholder="Not" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <strong><i class="far fa-file-alt mr-1"></i> Detaylı Adres</strong>

                                <div class="input-group col-md-12">
                                    <input type="text" value="@Model.memberLists.DetailAddress" class="form-control" id="detailAddress" placeholder="Adres Detay" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <strong><i class="far fa-file-alt mr-1"></i>Referans Üyeler</strong>

                                <div class="input-group col-md-12">
                                    <input type="text" value="@Model.memberLists.ReferenceMember1" class="form-control" id="refMem1" placeholder="Referans Üye" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>

                                <div style="margin-top:15px" class="input-group col-md-12">
                                    <input type="text" value="@Model.memberLists.ReferenceMember2" class="form-control" id="refMem2" placeholder="Referans Üye 2" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr>


                                <strong><i class="far fa-file-alt mr-1"></i>Durumu</strong>


                                <div class="form-group col-md-12">

                                    <select id="condition" class="form-control">
                                        <option disabled="disabled" selected>@Model.memberLists.Condition</option>
                                        <option>Faal</option>
                                        <option>Çıkan</option>
                                        <option>Dondurulmuş</option>
                                        <option>Fahri</option>
                                        <option>İstifa</option>
                                        <option>Onur</option>
                                        <option>Vefat</option>
                                        <option>Belirtilmemiş</option>
                                    </select>

                                    <hr>

                                </div>

                                <strong><i class="far fa-file-alt mr-1"></i>Web Rezervasyon</strong>


                                <div class="form-group col-md-12">

                                    <select id="webReservation" class="form-control">
                                        <option disabled="disabled" selected>@Model.memberLists.WebReservation</option>

                                        <option value="1">Yapabilir</option>
                                        <option value="0">Yapamaz</option>

                                    </select>

                                    <hr>

                                </div>

                                <strong><i class="far fa-file-alt mr-1"></i>Şifre</strong>

                                <div class="input-group col-md-12">
                                    <input type="text" value="@Model.memberLists.Password" class="form-control" id="password" placeholder="Şifre" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>

                                <hr>




                            </div>
                            <button class="btn btn-warning" id="@Model.memberLists.UserId" onclick="updateMemberList(this.id)">Kaydet</button>
                        </div>


                    </div>
                </div>

                <div class="col-lg-6">

                    <div class="card card-white">
                        <div class="card-header">

                            <h2 class="card-title">Bakiye Bilgisi - @Model.memberLists.Price ₺ </h2>

                            @*<div class="card-tools">
                                    <button id="@Model.memberLists.UserId" onclick="" style="color:black; border:1px solid " type="button" class="btn btn-tool tdHover">
                                        Bakiye Yükle
                                    </button>
                                </div>*@

                        </div>
                    </div>

                    <div class="card card-white">
                        <div class="card-header">
                            @if (Model.totalPrice == 0)
                            {
                                <h2 class="card-title"><i data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" data-content="Rezervasyon Detay Gör" style="margin-right:15px; cursor:pointer" class="fas fa-search"></i>Rezervasyon Borcu Yok</h2>
                            }
                            else
                            {
                                <h2 class="card-title"><i data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" data-content="Rezervasyon Detay Gör" style="margin-right:15px; cursor:pointer" class="fas fa-search"></i>Rezervasyon Borcu - @Model.totalPrice ₺ </h2>
                            }

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                        </div>
                        <div class="card-body p-0">
                            <table class="table table-bordered bg-green-soft bg-font-green-soft" style="margin:0;">
                                <tbody>
                                    <tr>
                                        <td style="padding:0;text-align:center;">Ödenmeyen</td>
                                        <td style="padding:0;text-align:center;">Ödeme Yapılan</td>
                                        <td style="padding:0;text-align:center;">İptal Edilen</td>
                                        <td style="padding:0;text-align:center;">Genel</td>
                                    </tr>
                                    <tr class="info" style="color:#000;">
                                        <td style="padding:0;text-align:center;">@Convert.ToInt16(Model.reservations.Where(x => x.PriceInf == false).Count()) + @Convert.ToInt16(Model.reservationCancels.Where(x => x.PriceInf == false && x.Procedure == false).Count())</td>
                                        <td style="padding:0;text-align:center;">@Model.reservations.Where(x => x.PriceInf == true).Count() + @Model.reservationCancels.Where(x => x.PriceInf == true && x.Procedure == false).Count()</td>
                                        <td style="padding:0;text-align:center;">@Model.reservationCancels.Count()</td>
                                        <td style="padding:0;text-align:center;">@Model.reservationCancels.Count() + @Model.reservations.Count()</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card card-white">
                        <div class="card-header">
                            @{
                                if (Model.memberDuesInfs.Where(x => x.PriceCondition == false && x.CancelCondition == false).Count() > 0)
                                {
                                    var fPrice = 0;

                                    var priceList = Model.memberDuesInfs.Where(x => x.PriceCondition == false && x.CancelCondition == false).ToList();

                                    foreach (var item in priceList)
                                    {
                                        var lastP = item.DuesPrice;

                                        fPrice = lastP + fPrice;

                                    }

                                    <h3 class="card-title"><i data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" data-content="Aidat Detay Gör" style="margin-right:15px; cursor:pointer;" class="fas fa-search"></i>Aidat Borcu - @fPrice ₺ </h3>
                                }
                                else
                                {
                                    <h3 class="card-title"><i data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" data-content="Aidat Detay Gör" style="margin-right:15px; cursor:pointer;" class="fas fa-search"></i>Aidat Borcu Yok</h3>

                                }
                            }

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-bordered bg-green-soft bg-font-green-soft" style="margin:0;">
                                <tbody>
                                    <tr>
                                        <td style="padding:0;text-align:center;">Ödenmeyen</td>
                                        <td style="padding:0;text-align:center;">Ödeme Yapılan</td>
                                        <td style="padding:0;text-align:center;">İptal Edilen</td>
                                        <td style="padding:0;text-align:center;">Genel</td>
                                    </tr>
                                    <tr class="info" style="color:#000;">
                                        @{

                                            var xa = Model.memberDuesInfs.Where(x => x.PriceCondition == false && x.CancelCondition == false).Count();
                                            var ya = Model.memberDuesInfs.Where(x => x.PriceCondition == true && x.CancelCondition == false).Count();
                                            var ass = Model.memberDuesInfs.Where(x => x.CancelCondition == true).Count();
                                            var ca = Convert.ToInt32(xa) + Convert.ToInt32(ya) + Convert.ToInt32(ass);
                                        }

                                        <td style="padding:0;text-align:center;">@xa Adet</td>
                                        <td style="padding:0;text-align:center;">@ya Adet</td>
                                        <td style="padding:0;text-align:center;">@ass Adet</td>
                                        <td style="padding:0;text-align:center;">@ca Adet</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @{
                        var x = Model.cabinetListUsers.Where(x => x.CabinetUserId == Model.memberLists.UserId).ToList();
                    }

                    @if (x.Count == 0)
                    {
                        <div class="card card-white">
                            <div class="card-header">
                                <h3 class="card-title">Dolap Bilgileri</h3>

                                <div class="card-tools">
                                    <button id="@Model.memberLists.UserId" onclick="addCabinetforMember(this.id)" style="color:black; border:1px solid" type="button" class="btn btn-tool tdHover">
                                        Dolap Tahsis Et
                                    </button>
                                </div>



                            </div>
                            <div class="card-body p-0">
                                <h5 style="text-align:center">Dolap Bilgisi Bulunmamaktadır.</h5>
                            </div>
                        </div>
                    }

                    else
                    {
                        <div class="card card-white">
                            <div class="card-header">
                                @{
                                    var firstPrice = 0;

                                    foreach (var item in x)
                                    {
                                        if (item.PriceCondition == false)
                                        {
                                            var priceModel = item.CabinetOpPrice;

                                            firstPrice = firstPrice + priceModel;
                                        }

                                    }
                                }

                                <h3 class="card-title"><i data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" data-content="Dolap Detay Gör" style="margin-right:15px; cursor:pointer" class="fas fa-search"></i>Dolap Bilgileri - @firstPrice ₺ </h3>


                                <div class="card-tools">
                                    <button id="@Model.memberLists.UserId" onclick="addCabinetforMember(this.id)" style="color:black; border:1px solid " type="button" class="btn btn-tool tdHover">
                                        Dolap Tahsis Et
                                    </button>
                                </div>

                            </div>

                            <div class="card-body p-0">

                                <table class="table table-bordered bg-green-soft bg-font-green-soft" style="margin:0;">
                                    <tbody>

                                        <tr>
                                            <td style="padding:0;text-align:center;">Dolap Kodu</td>
                                            <td style="padding:0;text-align:center;">Aidat Ücreti / Yıllık</td>
                                            <td style="padding:0;text-align:center;">Dolap Türü</td>
                                            <td style="padding:0;text-align:center;">Dolap Sahibi</td>
                                            <td style="padding:0;text-align:center;">Dolap Alım Tarihi</td>
                                            <td style="padding:0;text-align:center;">Dolap Ücreti</td>


                                        </tr>

                                        @foreach (var item in x)

                                        {
                                            <tr class="info" style="color:#000;">

                                                <td style="padding:0;text-align:center;">@item.CabinetCode</td>
                                                <td style="padding:0;text-align:center;">@item.CabinetOpPrice</td>
                                                <td style="padding:0;text-align:center;">@item.CabinetOpTypes</td>
                                                <td style="padding:0;text-align:center;">@item.CabinetWho</td>
                                                <td style="padding:0;text-align:center;">@item.Date</td>
                                                <td style="padding:0;text-align:center;">@item.CabinetOpPrice</td>



                                                <td style="padding:0;text-align:center;">
                                                    <i id="@item.CabinetOpId" onclick="deleteCabinet(this.id)" style="text-align:center; cursor:pointer" class="fas fa-trash"></i>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }


                    @if (Model.memberLists.PartnerId != null)
                    {
                        <div class="card card-white ">
                            <div class="card-header">
                                @{
                                    var partnerInf = Model.memberLists2.Where(x => x.UserId == Model.memberLists.PartnerId).FirstOrDefault();
                                }
                                <h3 style="color:black" class="card-title">Eş Bilgisi .......  @partnerInf.MemberNumber - @partnerInf.FullName - @partnerInf.NickName </h3>


                                <div class="card-tools">
                                    <a href="../AdminHome/MemberDetailPage?memberNum=@partnerInf.MemberNumber" type="button" class="btn btn-tool">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>

                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="card card-white">
                            <div class="card-header">

                                <h2 class="card-title"><i style="margin-right:15px; cursor:pointer" class="fas fa-user"></i>Eş Bilgisi Bulunmamaktadır</h2>

                                <div class="card-tools">
                                    <button id="@Model.memberLists.UserId" onclick="addPartner(this.id)" style="color:black; border:1px solid " type="button" class="btn btn-tool tdHover">
                                        Eş Bilgisi Ekle
                                    </button>
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dolap Tahsis Et</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="recipient-name" class="col-form-label">Dolap Seç:</label>
                        <div class="input-group">
                            <select id="cabinetCode" class="form-control">
                                <option disabled="disabled" selected="selected">Dolap Seç</option>

                                @foreach (var item in Model.cabinetOperations)
                                {
                                    var codeCheck = Model.cabinetListUsers.Where(x => x.CabinetCode == item.CabinetCode).FirstOrDefault();

                                    if (codeCheck == null)
                                    {
                                        <option id="@item.CabinetCode"> @item.CabinetCode</option>
                                    }

                                }

                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Türü</label>
                        <input disabled="disabled" type="text" id="cabinetType" class="form-control">
                    </div>


                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Ücreti</label>
                        <input disabled="disabled" type="text" id="cabinetPrice" class="form-control">
                    </div>

                    <div class="col-md-6 form-group">
                        <label class="col-form-label">Dolap Türü</label>
                        <select id="whoCabinet" class="form-control">

                            <option>Kendi</option>
                            <option>Eşi</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="addCabinetMem()">Tahsis Et</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addPartnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eş Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card" style="margin-bottom:20px;  border:1px solid brown">

                    <div class="card-body">
                        <p class="login-box-msg">Zorunlu Alan (Eş Bilgileri) </p>
                        <div class="row">
                            <div class="input-group mb-3 col-md-4">
                                <input type="text" class="form-control" id="partnerName" placeholder="Eş Adı Soyadı" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3 col-md-4">
                                <input type="text" class="form-control" id="nickname2" disabled="" placeholder="Rumuz" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <a style="cursor:pointer" onclick="getNickName2()" class="fas fa-sync-alt"></a>
                                    </div>
                                </div>
                            </div>



                            <div class="input-group mb-3 col-md-4">
                                <input type="text" class="form-control" id="username2" disabled="" placeholder="Kullanıcı Adı" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <a style="cursor:pointer" onclick="getUserName2()" class="fas fa-sync-alt"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input placeholder="Başlangıç Tarihi" type="text" class="form-control" id="startDate2" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input placeholder="Bitiş Tarihi" type="text" class="form-control" id="finishDate2" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="memberNum2" disabled="" placeholder="Üye Numarası" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <a style="cursor:pointer" onclick="getMemberNumber2()" class="fas fa-sync-alt"></a>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group col-md-6">
                                <select id="webReservation2" class="form-control">
                                    <option disabled="disabled" selected="">Web Rezervasyon</option>

                                    <option value="1">Yapabilir</option>
                                    <option value="2">Yapamaz</option>

                                </select>
                            </div>

                        </div>

                        <div class="row">

                            <div class="input-group mb-3 col-md-4">
                                <input type="email" class="form-control" placeholder="Eş T.C Kimlik" id="partnerIdNumber" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3 col-md-4">
                                <input placeholder="Eş Telefon No" id="partnerPhone" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                            </div>

                            <div class="input-group mb-3 col-md-4">
                                <input placeholder="Eş Doğum Tarihi" id="partnerBirthdate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="password2" disabled="" placeholder="Şifre" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <a style="cursor:pointer" onclick="getPassword2()" class="fas fa-lock"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="addPartOp" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="addOpPartner(this.id)">Eş Ekle</button>
            </div>

        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 5,
            "buttons": ["print"]
        })
            .buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');



    });
    function getNickName2() {

        var name = $("#partnerName").val();

        var ad = name.split(" ");

        var ad1 = ad[0][0];
        var soyad1 = ad[1][0];

        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 3; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var nick = (ad1 + soyad1 + text).toLowerCase();


        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlNickName',
            cache: false,
            data: { "nickName": nick },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#nickname2").val(nick);
                }
                else {

                    getNickName()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function getMemberNumber2() {


        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 5; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var memberNumber = text;

        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlMemberNumber',
            cache: false,
            data: { "memberNumber": memberNumber },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#memberNum2").val(memberNumber);
                }
                else {

                    getMemberNumber()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function getPassword2() {

        var name = $("#partnerName").val();

        var ad = name.split(" ");

        var ad1 = (ad[0][0]).toUpperCase();
        var soyad1 = (ad[1][0]).toLowerCase();

        var text = "123";
        var char = ".";

        var password = (ad1 + soyad1 + text + char);

        $("#password2").val(password);

    }

    function getUserName2() {


        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 5; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var userName = text;

        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlUserName',
            cache: false,
            data: { "userName": userName },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#username2").val(userName);
                }
                else {

                    getUserName()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }



    userObj = {

    

        memberNumber2: null,
        nickName2: null,
        username2: null,     
        startDate2: null,
        finishDate2: null,
        partnerName: null,
        partnerPhone: null,
        partnerIdNumber: null,
        partnerBirthDate: null,
        password2: null,
        id:null,

    };

   
    function addPartner(id) {

        $('#addPartnerModal').modal('toggle');

        $("#addPartOp button:nth-of-type(2)").attr("id", id);
 
    }

    function addOpPartner(id) {
        userObj.id = id;
        userObj.nickName2 = $("#nickname2").val();
        userObj.username2 = $("#username2").val();
        userObj.startDate2 = $("#startDate2").val();
        userObj.finishDate2 = $("#finishDate2").val();
        userObj.memberNumber2 = $("#memberNum2").val();
        userObj.password2 = $("#password2").val();
        userObj.partnerBirthDate = $("#partnerBirthdate").val();
        userObj.partnerIdNumber = $("#partnerIdNumber").val();
        userObj.partnerPhone = $("#partnerPhone").val();
        userObj.partnerName = $("#partnerName").val();

        $.ajax({
            type: "Get",
            url: '../AdminHome/AddPartner',
            cache: false,
            data: userObj,
            dataType: "json",
            async: true,
            success: function (res) {

                if (res != null) {
                    alert("başarılı");
                }
            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    $(function () {

        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('[data-mask]').inputmask()
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
    })

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    function addCabinetforMember() {


        $('#myModal').modal('toggle');

        $('#cabinetCode').on('change', function () {

            debugger;

            var code = $("#cabinetCode option:selected").val();

            $.ajax({
                type: "Get",
                url: '../AdminHome/GetCabinet',
                cache: false,
                data: { "code": code },
                dataType: "json",
                async: true,
                success: function (res) {


                    $("#cabinetPrice").val(res.cabinetTypes[0].cabinetTypesPrice);
                    $("#cabinetType").val(res.cabinetTypes[0].cabinetTypes);

                },

                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });

        });

    }

    function addCabinetMem() {

        var userId = $("#userId").text();
        var price = $("#cabinetPrice").val();
        var type = $("#cabinetType").val();
        var code = $("#cabinetCode option:selected").val();
        var who = $("#whoCabinet option:selected").val();

        debugger;

        if (userId == "" && price == "" && type == "" && type == "" && code == "" && who == "") {
            swal("Başarısız!", "Lütfen Bilgileri Doldurunuz", "warning");
        }

        else {
            $.ajax({
                type: "Get",
                url: '../AdminHome/AddCabinet',
                cache: false,
                data: { "code": code, "type": type, "price": price, "who": who, "userId": userId },
                dataType: "json",
                async: true,
                success: function (res) {

                    if (res == false) {
                        swal("Başarısız!", "Bir Hata Oluştu!", "warning");
                    }
                    else {
                        swal({
                            title: "Başarılı",
                            text: "Dolap Tahsis Edildi !",
                            icon: "success",
                            button: "Tamam",
                        }).then((value) => {



                            location.reload();

                        });
                    }

                },

                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        }

    }

    function deleteCabinet(id) {


        if (id == "") {
            swal("Başarısız!", "Bir Hata Oluştu", "warning");
        }
        else {
            swal({
                title: "Emin Misiniz?",
                text: "Dolap  İptal Edilecek !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        $.ajax({
                            type: "Get",
                            url: '../AdminHome/DeleteCabinets',
                            cache: false,
                            data: { "id": id },
                            dataType: "json",
                            async: true,
                            success: function (res) {


                                if (res == false) {
                                    swal("Başarısız!", "Bir Hata Oluştu!", "warning");
                                }
                                else {
                                    swal({
                                        title: "Başarılı",
                                        text: "Dolap  Başarılı Bir Şekilde Üyeden Alındı !",
                                        icon: "success",
                                        button: "Tamam",
                                    }).then((value) => {

                                        location.reload();

                                    });

                                }

                            },

                            error: function (textStatus, errorThrown) {
                                console.log(JSON.stringify(textStatus));
                                console.log(textStatus);
                            }
                        });

                    }
                    else
                        swal({
                            title: "Dolap Korundu",
                            text: "Dolap Silmekten Vazgeçtiniz!",
                            icon: "success",
                            button: "Tamam",
                        });
                });
        }
    }

    function updateMemberList(id) {

        userObj = {

            id: null,
            name: null,
            username: null,
            startDate: null,
            finishDate: null,
            role: null,
            condition: null,
            identificationNumber: null,
            webReservation: null,
            phone: null,
            phoneExp: null,
            phone2: null,
            phone2Exp: null,
            email: null,
            emailExp: null,
            birthdate: null,
            birthPlace: null,
            motherName: null,
            fatherName: null,
            city: null,
            district: null,
            job: null,
            note: null,
            password: null,
            gender: null,
            checkpass: null,

        };

        debugger;

        userObj.checkpass = $("#password").val();
        userObj.id = id;
        userObj.name = $("#name").val();
        userObj.username = $("#username").val();
        userObj.startDate = $("#startDate").val();
        userObj.finishDate = $("#finishDate").val();
        userObj.role = $("#RegistersRole option:selected").text();
        userObj.condition = $("#condition option:selected").text();
        userObj.identificationNumber = $("#identificationNumber").val();
        userObj.webReservation = $("#webReservation option:selected").val();
        userObj.phone = $("#phone").val();
        userObj.phoneExp = $("#phoneExp").val();
        userObj.phone2 = $("#phone2").val();
        userObj.phone2Exp = $("#phone2Exp").val();
        userObj.email = $("#email").val();
        userObj.emailExp = $("#emailExp").val();
        userObj.birthdate = $("#birthdate").val();
        userObj.birthPlace = $("#birthPlace").val();
        userObj.motherName = $("#motherName").val();
        userObj.fatherName = $("#fatherName").val();
        userObj.city = $("#city").val();
        userObj.district = $("#district").val();
        userObj.job = $("#job").val();
        userObj.note = $("#note").val();
        userObj.password = $("#password").val();
        userObj.gender = "Male";



        if (userObj.password != "" || userObj.username != "") {

            try {
                $.ajax({
                    type: "Post",
                    url: '../AdminHome/UpdateMemberList',
                    cache: false,
                    data: userObj,
                    dataType: "json",
                    async: true,
                    success: function (res) {



                        if (res == true) {


                            $.confirm({
                                title: "Bilgilendirme",
                                content: "Kullanıcı Başarıyla Güncellendi.",
                                buttons: {
                                    TAMAM: function () {

                                        location.reload();

                                    }
                                }
                            });
                        }

                        else
                            $.confirm({
                                title: "Uyarı",
                                content: "Kullanıcı Güncellenirken Hata Oluştu. Şifre : En az bir büyük harf , Küçük Harf , Sayı ve Sembol(*/.) içermelidir.",
                                buttons: {
                                    TAMAM: function () {


                                    }
                                }
                            });

                    },
                    error: function (textStatus, errorThrown) {
                        console.log(JSON.stringify(textStatus));
                        console.log(textStatus);
                    }
                });
            } catch (e) {
                console.log(e.message);
            }
        }
        else {
            $.confirm({
                title: "Uyarı",
                content: "Kullanıcı Adı / Şifre Boş Bırakılamaz",
                buttons: {
                    TAMAM: function () {


                    }
                }
            });

        }

    }


</script>

