
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@model AtkTennis.ViewModels.IdentityPartialClass;

<!DOCTYPE html>
<link href="~/css/list.css" rel="stylesheet" />

<section class="content">
    <div class="content-wrapper">
        <div class="row">

            <div class="content-header col-md-2 ">
                <h1 @*class="m-0"*@ style="margin-top:15px">Tüm Kullanıcılar</h1>
            </div>



            <div class="input-group rounded col-md-6" style="margin-top:25px">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

            </div>



            <div style=" text-align:left; margin-left:60px; padding-top:10px; padding-bottom:10px" class="col-md-2">

                <div>
                    <label class="form-switch ">
                        <input type="checkbox">
                        <i></i>
                        Üyeler
                    </label>

                    <label class="form-switch" style=" margin-left:12px">
                        <input type="checkbox">
                        <i></i>
                        Personel
                    </label>


                </div>

                <div>

                    <label class="form-switch ">
                        <input type="checkbox">
                        <i></i>
                        Eğitmen
                    </label>

                    <label class="form-switch ">
                        <input type="checkbox">
                        <i></i>
                        Öğrenciler
                    </label>
                </div>
            </div>

            <div class="col-md-1">
                <button style="margin-top:25px" class="btn btn-primary">Getir</button>
            </div>

        </div>




        <table>

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad-Soyad</th>
                    <th scope="col">Kullanıcı Adı</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Detaylar</th>
                    <th scope="col">Sil</th>
                </tr>
            </thead>

            <tbody>

                @for (int i = 0; i < Model.AppIdentityUsers.Count(); i++)
                {
                    <tr>
                        <td data-label="Id">@Convert.ToInt16(i + 1)</td>
                        <td data-label="Ad-Soyad">@Model.AppIdentityUsers[i].FullName</td>
                        <td data-label="Kullanıcı Adı">@Model.AppIdentityUsers[i].UserName</td>
                        <td data-label="E-Mail">@Model.AppIdentityUsers[i].Email</td>
                        @*<td data-label="Doğum Tarihi">@item.BirthDate</td>*@
                        <td data-label="Telefon">@Model.AppIdentityUsers[i].PhoneNumber</td>
                        <td><button data-toggle="modal" data-target="#exampleModalLong" class="btn btn-success">Güncelle</button></td>
                        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
                        <td><button data-toggle="modal" data-target="#deleteModalLong" class="btn btn-danger">Sil</button></td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Henüz Yapım Aşamasında
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Henüz Yapım Aşamasında
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form method="post">                     
                           @*<button asp-action="DeleteUsers" asp-controller="Security" asp-route-id="@item.Id" type="submit" class="btn btn-danger ">Sil</button>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


